<!-- modal.html -->

<div class="modal" id="textQ" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form action="{% url 'survey_managment:questionCreationByType'  %}" id="theForm" method="post">
                {% csrf_token %}
                <div class="modal-header">
                    <h6 id="IconType" style="position: absolute; right: 10%;"> </h6>
                    <input type="hidden" name="IconType" id="IconType1" value="">
                </div>

                <div class="modal-body">
                    <!-- Question Text -->
                    <div class="form-group">
                        <label for="QuestionTitle">Question:</label>
                        <input type="text" name="QuestionTitle" id="QuestionTitle" class="form-control" required>
                      </div>

                      <!-- check weight -->
                      <div class="form-group">
                        <label for="myCheckbox">
                            <input type="checkbox" id="myCheckbox" name="myCheckbox">
                            Has Weight 
                        </label>
                        <div id="weightInput" style="display: none;">
                            <input class="form-control" type="number" name="weightInput" id="">
                        </div>
                      </div>
                      
                      <!-- list of categories -->
                        <div class="form-group">
                            <label>category (optional)</label>
                            <select class="form-control select2" multiple="multiple" data-placeholder="Select category" style="width: 100%;">
                                {% for i in category %}
                                <option>{{ i.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                      

                      <!-- Options (for multi-select questions) -->
                      <div id="optionList" style="display: none;">
                        <div id="options-container">
                            <!--  options will be added here -->
                        </div>
                        
                        <!-- Add Option Button -->
                        <button type="button" id="add-option-btn" class="btn btn-secondary">Add Option</button>
                      </div>
                       
               </div>
                <div class="modal-footer">
                      <!-- Submit Button -->
                        <button type="submit" class="btn btn-primary">Add Question</button>
                </div>
            </form>


        </div>
    </div>
  </div> 

<script>
    var myCheckbox = document.getElementById('myCheckbox')
    var weightInput = document.getElementById('weightInput')
    myCheckbox.addEventListener('change', function(){
        if (myCheckbox.checked){
            weightInput.style.display = 'block'
        }
        else 
            weightInput.style.display = 'none'
    })
    

    document.getElementById('textQ').addEventListener('hidden.bs.modal', function() {
        var optionsContainer = document.getElementById('options-container');
        optionsContainer.innerHTML = '';

        var modalForm = document.getElementById('theForm');
        modalForm.reset();

        var optionList = document.getElementById('optionList');
        optionList.style.display = 'none';
    });

    function getTitle(zTitle) {
        const x = document.getElementById('IconType');
        x.textContent = zTitle;
        const y = document.getElementById('IconType1')
        y.value = zTitle

        var needOptions = ['Checkbox', 'Radio'];
        var optionList = document.getElementById('optionList'); // Get the optionList container

        if (needOptions.includes(zTitle)) {
            optionList.style.display = 'block';

            var optionsContainer = document.getElementById('options-container');
            // Create default options
            for (var i = 1; i <= 2; i++) {
                var newOption = document.createElement('div');
                newOption.classList.add('form-group');

                var label = document.createElement('label');
                label.textContent = 'Option ' + i + ':';

                var input = document.createElement('input');
                input.setAttribute('type', 'text');
                input.setAttribute('name', 'option');
                input.classList.add('form-control');
                input.required = true;

                newOption.appendChild(label);
                newOption.appendChild(input);

                optionsContainer.appendChild(newOption);
            }
        }
    }


document.getElementById('add-option-btn').addEventListener('click', function() {
  var optionsContainer = document.getElementById('options-container');
  var optionCount = optionsContainer.getElementsByClassName('form-group').length;

  var newOption = document.createElement('div');
  newOption.classList.add('form-group');

  var label = document.createElement('label');
  label.textContent = 'Option ' + (optionCount + 1) + ':';

  var input = document.createElement('input');
  input.setAttribute('type', 'text');
  input.setAttribute('name', 'option');
  input.classList.add('form-control');
  input.required = true;

  newOption.appendChild(label);
  newOption.appendChild(input);

  optionsContainer.appendChild(newOption);
});
</script>




  


  
