<!-- modal.html -->
<div class="modal" id="textQ" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
          <form action="{% url 'survey_managment:questionCreationByType' %}" method="post">
              {% csrf_token %}
              <div class="modal-header">
                  <h6 id="Icon-type" style="position: absolute; right: 10%;"> </h6>
              </div>
              <div class="modal-body">
                  <div class="container" name="QuestionTitle" contenteditable="true">
                      Ask a Question
                  </div>
              </div>
              <div class="modal-footer">
                  <a href="#" style="text-decoration: none;">
                      <button type="submit" class="btn btn-primary">ADD</button>
                  </a>
              </div>
          </form>
      </div>
  </div>
</div>

<script>
  function getTitle(zTitle){
    const x =document.getElementById('Icon-type')
    x.textContent = zTitle
    console.log(zTitle)
  }
</script>