<!-- modal.html -->
<div class="modal" id="textQ" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
          <form action="{% url 'survey_managment:questionCreationByType' %}" method="post">
              {% csrf_token %}
              <div class="modal-header">
                  <h6 id="Icon-type" style="position: absolute; right: 15%;"></h6>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  <div class="container" name="QuestionTitle" contenteditable="true">
                      Ask a Question
                  </div>
              </div>
              <div class="modal-footer">
                  <a href="#" style="text-decoration: none;">
                      <button type="submit" class="btn btn-primary">ADD</button>
                  </a>
              </div>
          </form>
      </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
      const clickedIcon = document.querySelector('[data-bs-target="#textQ"]');
      const title = clickedIcon.getAttribute('title');
      const iconType = document.getElementById('Icon-type');
      iconType.textContent = title;
      console.log(title);
  });
</script>