{% load static %}

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>DPMEs</title>
  <link rel="stylesheet" href="{%  static 'assets/dist/css/chartStyle.css' %}">

  <link rel="stylesheet" href="{% static 'assets/css/transition.css' %}">
  <script defer src="{% static 'assets/js/pageTransition.js' %}"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
    integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
    crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

  <link rel="stylesheet"
    href="{% static 'assets/fonts2/material-design-iconic-font/css/material-design-iconic-font.css'%}">
  <!-- Data table -->

  <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css">
  <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>


  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&amp;display=fallback" />

  <link rel="stylesheet" href="{%  static 'assets/plugins/fontawesome-free/css/all.min.css' %}" />

  <link rel="stylesheet" href="{% static 'assests/../code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css' %}" />

  <link rel="stylesheet"
    href="{%  static 'assets/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css' %}" />

  <link rel="stylesheet" href="{%  static 'assets/plugins/icheck-bootstrap/icheck-bootstrap.min.css' %}" />

  <link rel="stylesheet" href="{%  static 'assets/plugins/jqvmap/jqvmap.min.css' %}" />

  <link rel="stylesheet" href="{%  static 'assets/dist/css/adminlte.min2167.css' %}?v=3.2.0" />
  <link rel="stylesheet" href="{%  static 'assets/plugins/select2/css/select2.min.css' %}">

  <link rel="stylesheet" href="{%  static 'assets/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css' %}">


  <link rel="stylesheet" href="{%  static 'assets/plugins/overlayScrollbars/css/OverlayScrollbars.min.css' %}" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
    integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">

  <link rel="stylesheet" href="{%  static 'assets/plugins/daterangepicker/daterangepicker.css' %}" />
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">


  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&amp;display=fallback">

  <link rel="stylesheet" href="{% static 'assets/plugins/fontawesome-free/css/all.min.css'%}">

  <link rel="stylesheet" href="{% static 'assets/plugins/icheck-bootstrap/icheck-bootstrap.min.css'%}">

  <link rel="stylesheet" href="{% static 'assets/dist/css/adminlte.min2167.css?v=3.2.0'%}">

  <link rel="stylesheet" href="{%  static 'assets/plugins/summernote/summernote-bs4.min.css' %}" />



  <!-- Jquery Data table -->
  <!-- jQuery library -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <!-- DataTables plugin -->
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css">
  <script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/dataTables.jqueryui.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.4.2/css/buttons.jqueryui.min.css">

</head>

