{%load static %}

<nav id="navbar" class="navbar">
    <ul>
      <li><a class="nav-link scrollto active" href="{% url 'survey_managment:greetingpage' %}" style="color: rgb(9, 109, 9);">Home</a></li>
      <li><a class="nav-link scrollto" href="{% url 'survey_managment:greetingpage' %}#about" style="color: rgb(9, 109, 9);">About</a></li>
      <li><a class="nav-link scrollto" href="{% url 'survey_managment:greetingpage' %}#values" style="color: rgb(9, 109, 9);">Values</a></li>
      <li><a class="nav-link scrollto" href="{% url 'survey_managment:greetingpage' %}#features" style="color: rgb(9, 109, 9);">Features</a></li>
      <li><a class="nav-link scrollto" href="{% url 'survey_managment:surveylists' %}" style="color: rgb(9, 109, 9);">Surveys</a></li>
      <li><a class="nav-link scrollto" href="{% url 'survey_managment:greetingpage' %}#contact" style="color: rgb(9, 109, 9);">Contact</a></li>


      <li class="inline mb-0">
        <li class="has-submenu parent-menu-item">
                {% if user.is_authenticated%}
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <div class="profile-pic">
                      {% if user.image %}
                        <img src="{{user.image.url}}" alt="Profile Picture">
                      {% else %}
                      <img src="{% static 'assets/Default_pp.png' %}" alt="Profile Picture">
                      {% endif %}
                     </div>
                 <!-- You can also use icon as follows: -->
                   <!--  <i class="fas fa-user"></i> -->
                  </a>
                  <ul class="dropdown-menu">
                    <li>
                      <a class="dropdown-item" href="{%url 'Account:view_profile'%}">
                        <i class="fas fa-sliders-h fa-fw"></i>Account</a></li>
                    <li><a class="dropdown-item" href="{%url 'Account:edit_profile'%}"><i class="fas fa-cog fa-fw"></i> Settings</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="{%url 'Account:logout'%}"><i class="fas fa-sign-out-alt fa-fw"></i> Log Out</a></li>
                  </ul>
                </li>                    
                {% else %}
                <li><a class="getstarted scrollto" href="{% url 'Account:Login'%}" style="color: white; background-color: rgb(9, 109, 9);" >Get Started</a></li>

                {%endif%}

            </ul>
        </li>
                        </li>

    </ul>
    <i class="bi bi-list mobile-nav-toggle"></i>
  </nav>