{% load static %}
<footer>
  {% include "includes/style.html" %}
  <div class="kode_footer_bg" bis_skin_checked="1">
      <div class="container" bis_skin_checked="1">
         
          <!--Footer Logo Wrap Start-->
          <div class="kode_footer_logo" bis_skin_checked="1">
              <figure>
                  <img style="height:190px; width:300px;"  src="{% static 'assets/logo/EPDM-Illustration-TextSide-White.png' %}" alt="Image Here">
              </figure>
              <ul>
                  <li><a href="https://www.facebook.com/MoPDETH"><i class="fa fa-facebook-official"></i></a></li>
                  <li><a href="https://twitter.com/mopd_ethiopia"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="https://www.linkedin.com/company/ministry-of-planning-and-development-ethiopia/"><i class="fa fa-linkedin"></i></a></li>
                  <li><a href=""><i class="fa fa-youtube"></i></a></li>
                  <li><a href="https://t.me/PDC_Ethiopia"><i class="fa fa-telegram" aria-hidden="true"></i></a></li>
              </ul>
          </div>
          <!--Footer Logo Wrap End-->

          <!--Footer Widget Wrap Start-->
          <div class="kode_widgt_outr_wrap" bis_skin_checked="1">
              <div class="row" bis_skin_checked="1">

                  <div class="col-md-3" bis_skin_checked="1">
                      <div class="kode_widgt_touch widget_hdg" bis_skin_checked="1">
                          <h5>About MoPD</h5>
                          <p>Primary government institution responsible for national planning and development</p>
                          <p>The MoPD plays a vital role in shaping Ethiopia's sustainable growth and socio-economic transformation. </p>
                      </div>
                  </div>


                  <div class="col-md-3" bis_skin_checked="1">
                      <div class="kode_widgt_touch widget_hdg" bis_skin_checked="1">
                          <h5>Contact</h5>
                          <ul>
                              <li>
                                  <i class="fa fa-map-marker"></i>
                                  <div class="kode_widgt_des" bis_skin_checked="1">
                                      6kilo, Addis Ababa , ET.
                                  </div>
                              </li>

                              <li>
                                  <i class="fa fa-phone"></i>
                                  <div class="kode_widgt_des" bis_skin_checked="1">
                                      0111403049
                                  </div>
                              </li>
                            <br><br><br><br>

                              <li>
                                  <i class="fa fa-envelope"></i>
                                  <div class="kode_widgt_des" bis_skin_checked="1">
                                      <a href="#">info@mopd.gov.et</a>
                                  </div>
                              </li>
                          </ul>
                      </div>
                  </div>


                  
              
                  <div class="col-md-3" bis_skin_checked="1">
                      <div style="display: block;" class="kode_widgt_event widget_hdg" bis_skin_checked="1">
                          <h5>Use Full links </h5>
                          
                          <div class="usefulllinks" >
                            <a  href="">Home</a>
                          </div>
                          <div class="usefulllinks" >
                            <a  href="">About</a>
                          </div>
                          <div class="usefulllinks" >
                            <a  href="">Contact</a>
                          </div>
                          <div class="usefulllinks" >
                            <a  href="">Survey</a>
                          </div>
                          
                           
                           
                       
                      </div>
                  </div>

                  <div class="col-md-3" bis_skin_checked="1">
                      <div class="kode_widgt_touch widget_hdg" bis_skin_checked="1">
                          <h5>MoPD Affilate</h5>
                      
                          <figure>
                            <img style="height:190px; width:300px;"  src="{% static 'assets/logo/EPDM-Illustration-TextSide-White.png' %}" alt="Image Here">
       
                          </figure>



                      </div>
                  </div>



              </div>
          </div>
          <!--Footer Widget Wrap End-->

          <!--Footer Site map Wrap Start-->
          
          <!--Footer Site map Wrap End-->

          <!--Copy Right Wrap Start-->
          <div class="kode_copyright" bis_skin_checked="1">
              <p>Copyright © MoPD Designed by <span><a href="#">MoPD</a></span> </p>
              <a class="kode-back-top" href="#" id="show_me" style="opacity: 1;"><i class="fa fa-angle-up"></i></a>
          </div>
          <!--Copy Right Wrap End-->

      </div>
  </div>

  <script src="https://kit.fontawesome.com/99d0e22667.js" crossorigin="anonymous"></script>

</footer>