 <div class="row">
              <div class="col-3">
                <select id="survey_type" name="survey_type" class="form-select" onchange="">

                  <!-- {% for surveytype in surveyType %}
                  <option value="{{ surveytype.id }}">{{ surveytype.name }}</option>
              {% endfor %} -->
                </select>
              </div>
                  
      
              
   {% if surveys %}
  {% for survey in surveys %}
   
      <div class="col-2 form-select questionnaires" id="questionnaires-{{ survey.id }}"  {% if not loop.first %}style="display: none;"{% endif %}>
       
          <select id="questionnaires-{{ survey.id }}" onchange="">
            <option value="">Select Quesionnaries</option>
            <option value="all">All</option>
            {% for questionnaire in survey.question_set.all %}
                  <option>{{ questionnaire.name }}</option>
                {% endfor %}
          </select>
       
      
    </div>
  {% endfor %}
{% endif %} 











<!-- <div class="col-3">
  <select id="survey-select" name="survey" class="form-select">
    <option value="">Select Survey</option>

    {% for survey in survey %}
      <option value="{{ survey.id }}">{{ survey.name }}</option>
    {% endfor %}
  </select>
</div> -->

<!--               
              <div class="col-3">
                <select id="mySelect" onchange="showDiv()" class="form-select">
                  <option value="">Select Chart</option>
                  <option value="area_chart"> Area Chart</option>
                  <option value="line_chart">Line Chart</option>
                  
                  <option value="pie_chart"> Pie Chart</option>
                  <option value="bar_chart"> Bar Chart</option>
                  <option value="donut_chart"> Donut Chart</option>
                  <option value="stacked_bar_chart"> Stacked Bar Chart</option>
          
                </select>
            </div> 
            <div class="col-3">
                <select id="" onchange="" class="form-select">
                  <option value="">Select Line Ministry</option>
                  <option value="area_chart"> Area Chart</option>
                 
          
                </select>
              </div>
              
            </div> -->





            