 <div class="row">
              <div class="col-lg-3 col-sm-6">

                <select id="survey_type" name="survey_type" class="form-select" >

                 <option value="">Select Survey</option>

                </select>
              </div>
              <div class="form-group col-lg-4 col-sm-6">
                <select id="survey-select" class="form-control">
                <option value="" >Select Survey</option>
                
              </select>
        </div>
        <div class="form-group col-lg-4 col-sm-6">
            <select id="ministry-select" class="form-control">
            <option  value="" >Select Line Ministry</option>
            
          </select>
          
    </div>
              </div>
                  
      

              
              
              <!-- <form method="POST" id="form">
                <div class="row">
                    {% csrf_token %}
                    <div class="form-group col-lg-3 col-sm-6">
                        <label class="textS" for="{{ form.survey_type.id_for_label }}">Survey
                            Type:</label>
                        {{ form.survey_type }}
                    </div>
                    <div class="form-group col-lg-3 col-sm-6">
                        <label class="textS">Survey:</label>
                        {{ form.survey }}
                    </div>
                    <div class="form-group col-lg-3 col-sm-6">
                        <label class="textS">Line Ministry:</label>
                        {{ form.line_ministry }}
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form> -->
           


















            