{% load static %}
<style>
  p, i{
    color: rgb(69, 68, 68);
  }
  .hoverEffect>li>a:hover{
    border-left: 6px solid #208c5c;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
 
</style>

{% include "includes/head.html" %}
<aside class="main-sidebar  elevation-4" style="background-color: white;">
  <a href="{% url 'survey_managment:Index' %}" style="background-color: #208c5c  ;" class="brand-link">
    <img
      src="{% static 'assets/logo/EPDM-Logo-Final-Hi-res.png' %}"
      
      alt="Logo"
      class="brand-image img-circle elevation-3"
      style="opacity: 0.8"
    />
    <span class="brand-text font-weight-light" style="color: black;">MOPD</span>
  </a>

  <div class="sidebar">

          {% if user.is_authenticated%}
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        {% if user.image %}
        <img
          src="{{user.image.url}}"
          class="img-circle elevation-2"
          alt="User Image"
        />
        {% else %}

        <img
        src="{% static 'assets/Default_pp.png' %}"
        class="img-circle elevation-2"
        alt="User Image"
      />
      {% endif %}
      </div>
      <div class="info" >
        <a href="#" class="d-block" style="color: black; text-decoration: none;">{{user.first_name}} {{user.last_name}}</a>
      </div>
      
    </div>
    {% endif %}

    

    <div class="form-inline" style="background-color: #208c5c;">
      <div class="input-group" data-widget="sidebar-search">
        <input
          class="form-control form-control-sidebar"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <div class="input-group-append">
          <button class="btn btn-sidebar">
            <i class="fas fa-search fa-fw"></i>
          </button>
        </div>
      </div>
    </div>

    <nav class="mt-2">
      <ul
        class="nav nav-pills nav-sidebar flex-column hoverEffect"
        data-widget="treeview"
        role="menu"
        data-accordion="false"
      >
      <li class="nav-item">
        <a href="{%url 'survey_managment:Index' %}" class="nav-link" >
          <i class="nav-icon fas fa-tachometer-alt"></i>
          <p>Dashboard</p>
        </a>
      </li>
     <li class="nav-item">
        <a href="#" class="nav-link">
           <i class="nav-icon fas fa-users"></i>
          <p>Users <i class="fas fa-angle-left right"></i></p>
        </a>
        <ul class="nav nav-treeview">
          <li class="nav-item ml-4">
            <a href="{%url 'Account:register_view'%}" class="nav-link">
              <i class="fa-sharp fa-solid fa-user-plus"></i>
              <p class="ml-2">Add User</p>
            </a>
          </li>
          <li class="nav-item ml-4">
            <a href="{% url 'Account:users' %}" class="nav-link">
              <i class="fa-regular fa-eye"></i>
              <p class="ml-1">View Users</p>
            </a>
          </li>
          <li class="nav-item ml-4">
            <a href="{% url 'Account:add_line_ministry' %}" class="nav-link">
              <i class="fa-solid fa-plus"></i>
              <p class="ml-2">Add Line Ministry</p>
            </a>
          </li>
        </ul>
      </li> 
      <li class="nav-item">
        <a href="#" class="nav-link">
          <i class="nav-icon far fa-envelope"></i>
         <p>Mailbox <i class="fas fa-angle-left right"></i></p>
         <span class="badge bg-primary ml-5"> {{ unread_count }}</span>
       </a>
        <ul class="nav nav-treeview">
          <li class="nav-item ml-4">
            <a href="{% url "survey_managment:inbox" %}" class="nav-link">
              <i class="fas fa-inbox"></i>  
              <p class="ml-2"> Inbox </p>
              <span class="badge bg-primary ml-5"> {{ unread_count }}</span>
            </a>
          </li>
          <li class="nav-item ml-4">
            <a href="{% url "survey_managment:sent" %}" class="nav-link">
              <i class="far fa-envelope"></i>  
              <p class="ml-2"> Sent </p>
            </a>
          </li>
          <li class="nav-item ml-4">
            <a href="{% url "survey_managment:draft" %}" class="nav-link">
              <i class="far fa-file-alt"></i>  
              <p class="ml-2"> Drafts </p>
            </a>
          </li>
          <li class="nav-item ml-4">
            <a href="{% url "survey_managment:trash" %}" class="nav-link">
              <i class="far fa-trash-alt"></i>  
              <p class="ml-2"> Trash </p>
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <a href="{%url 'survey_managment:survey'%}" class="nav-link">
          <i class="nav-icon fas fa-copy"></i>
          <p>Survey</p>
        </a>
      </li>
      <li class="nav-item">
        <a href="{%url 'survey_managment:pending_response'%}" class="nav-link">
          <i class="nav-icon fas fa-spinner"></i>
          <p>Pending Responses</p>
          <span class="badge bg-primary ml-2 "> {{ pending_responses }}</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
</aside>