{% load static %}
<!DOCTYPE html>
<html lang="en">

{% include 'includes/head.html' %}

<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        {%include 'includes/loader.html'%}

        {% include 'includes/topNavbar.html' %}
        {% include 'includes/sideNavbar.html' %}
        
        {% include 'questionTypes/modal.html' with survey_id=survey_id %}

        <div class="content-wrapper">

            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <!-- <h1 id="formTitle" contentEditable="true" >Untitled </h1> -->
                        </div>
                         <!-- <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active">Compose</li>
                            </ol>
                        </div>  -->
                    </div>
                </div>
            </section>

            <section class="content ">
                <div class="row justify-content-center">
                    <div class="col-lg-10" style="
                        display: flex;
                        border: 1px solid #ccc;
                        border-radius: 5px;
                        overflow: hidden;
                        ">

                       <div class="col-sm-auto bg-light sticky-top shadow" style="border:lpx  solid green;margin-left:-15px">
                        <div class="d-flex flex-sm-column flex-row flex-nowrap bg-light align-items-center sticky-top" >
                            
                            <a href="{% url "survey_managment:displayQuestion" survey_id %}" class="d-block p-3 link-dark text-decoration-none" title="Import" data-bs-toggle="tooltip" 
                                data-bs-placement="right" data-bs-original-title="Icon-only">
                                <i class="bi bi-box-arrow-in-left"></i>
                            </a>
                            
                            
                            <ul class="nav nav-pills nav-flush flex-sm-column flex-row flex-nowrap mb-auto mx-auto text-center align-items-center" >
                                <li class="nav-item">
                                    <a href="#" class="nav-link py-3 px-2" title="Text" 
                                        data-bs-toggle="modal" data-bs-target="#textQ" 
                                        onclick="getTitle(this.title)"
                                           data-bs-placement="right">
                                        <i class="bi bi-textarea-t"></i>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="#" class="nav-link py-3 px-2" title="Numbers"
                                    data-bs-toggle="modal" data-bs-target="#textQ"
                                    onclick="getTitle(this.title)"  
                                     data-bs-placement="right" >
                                        <i class="bi bi-123"></i>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="#" class="nav-link py-3 px-2" title="Checkbox"
                                    data-bs-toggle="modal" data-bs-target="#textQ" 
                                    onclick="getTitle(this.title)"
                                     data-bs-placement="right">
                                        <i class="bi bi-check2-circle"></i>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="#" class="nav-link py-3 px-2" title="Radio"
                                    data-bs-toggle="modal" data-bs-target="#textQ" 
                                    onclick="getTitle(this.title)"
                                     data-bs-placement="right" >
                                        <i class="bi bi-check-all"></i>
                                    </a>
                                </li>

                                <li>
                                    <a href="#" class="nav-link py-3 px-2" title="description"
                                    data-bs-toggle="modal" data-bs-target="#textQ" 
                                    onclick="getTitle(this.title)"
                                     data-bs-placement="right">
                                        <i class="bi bi-card-text"></i>
                                    </a>
                                </li>
                               
                                <li>
                                    <a href="#" class="nav-link py-3 px-2" title="url" 
                                    data-bs-toggle="modal" data-bs-target="#textQ" 
                                    onclick="getTitle(this.title)"
                                     data-bs-placement="right" >
                                        <i class="bi bi-link"></i>
                                    </a>
                                </li>

                                <li>
                                    <a href="#" class="nav-link py-3 px-2" title="Date" 
                                    data-bs-toggle="modal" data-bs-target="#textQ" 
                                    onclick="getTitle(this.title)"
                                    data-bs-placement="right" >
                                        <i class="bi bi-calendar4-week"></i>
                                    </a>
                                </li>

                                <li>
                                    <a href="#" class="nav-link py-3 px-2" title="Email" 
                                    data-bs-toggle="modal" data-bs-target="#textQ" 
                                    onclick="getTitle(this.title)"
                                     data-bs-placement="right" >
                                        <i class="bi bi-envelope-at"></i>
                                    </a>
                                </li>

                                <li>
                                    <a href="#" class="nav-link py-3 px-2" title="Rating" 
                                    data-bs-toggle="modal" data-bs-target="#textQ" 
                                    onclick="getTitle(this.title)"
                                    data-bs-placement="right">
                                        <i class="bi bi-star-half"></i>
                                    </a>
                                </li>

                                <li>
                                    <a href="#" class="nav-link py-3 px-2" title="Document"
                                    data-bs-toggle="modal" data-bs-target="#textQ" 
                                    onclick="getTitle(this.title)"
                                     data-bs-placement="right" >
                                        <i class="bi bi-file-earmark-arrow-up"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>

                       </div>


                       <div class="col flex-grow-1" hidden>
                        <div class="card">
                            <div class="card-body">
                                {% for i in zQuestions %}
                                <div class="form-group">
                                    <label>{{ i.title }} </label>
                                    <input type="text" class="form-control form-control-border" disabled>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                        
                    </div>

                </div>
            </section>

        </div>

        <footer class="main-footer">
            <div class="float-right d-none d-sm-block">
                <b>MoPD</b> 
            </div>
            reserved.
        </footer>


    </div>


{% include 'includes/scripts.html' %}

</body>

</html>