<!DOCTYPE html>
<html lang="en">
<head>
  {%include "includes/head.html"%}
  <style>
    body{margin-top:20px;}
.avatar{
width:200px;
height:200px;
}	
  </style>
</head>
<body>
  <div class="wrapper">
    {% if user.is_superuser %}
    {% include 'includes/topNavbar.html' %}
    {% include 'includes/sideNavbar.html' %}
    {% endif %}
    <div class="content-wrapper">
    
      <section class="content-header">
      <div class="container-fluid">
  <div class="container bootstrap snippets bootdey">
    <h1 class="text-primary">Edit Profile</h1>
      <hr>
	<div class="row">
      <!-- left column -->
      <div class="col-md-3">
        <div class="text-center">
          {% if user.image %}
      <img src="{{ user.image.url }}" class="avatar img-circle img-thumbnail" alt="avatar">
    {% else %}
          <img src="https://bootdey.com/img/Content/avatar/avatar7.png" class="avatar img-circle img-thumbnail" alt="avatar">
          <h6>Upload a different photo...</h6>
          {%  endif %}
        </div>
      </div>
      
      <!-- edit form column -->
      <div class="col-md-9 personal-info">
        <!-- <div class="alert alert-info alert-dismissable">
          <a class="panel-close close" data-dismiss="alert">×</a> 
          <i class="fa fa-coffee"></i>
          This is an <strong>.alert</strong>. Use this to show important messages to the user.
        </div> -->
        <h3>Personal info</h3>
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                {{ form.first_name.label_tag }}
                {{ form.first_name }}
              </div>
              <div class="form-group">
                {{ form.last_name.label_tag }}
                {{ form.last_name }}
              </div>
              <div class="form-group">
                {{ form.email.label_tag }}
                {{ form.email }}
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                {{ form.date_of_birth.label_tag }}
                {{ form.date_of_birth }}
              </div>
              <div class="form-group">
                {{ form.phone_number.label_tag }}
                {{ form.phone_number }}
              </div>
              <div class="form-group">
                {{ form.username.label_tag }}
                {{ form.username }}
              </div>
              <div class="form-group">
                {{ form.image.label_tag }}
                {{ form.image }}
              </div>
            </div>
          </div>
          
          <button type="submit" class="btn btn-primary">Save Changes</button>
      </form>
      
        
        <!-- <form class="form-horizontal" role="form">
          <div class="form-group">
            <label class="col-lg-3 control-label">First name:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" value="dey-dey">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Last name:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" value="bootdey">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Company:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" value="">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Email:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" value="janesemail@gmail.com">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Time Zone:</label>
            <div class="col-lg-8">
              <div class="ui-select">
                <select id="user_time_zone" class="form-control">
                  <option value="Hawaii">(GMT-10:00) Hawaii</option>
                  <option value="Alaska">(GMT-09:00) Alaska</option>
                  <option value="Pacific Time (US &amp; Canada)">(GMT-08:00) Pacific Time (US &amp; Canada)</option>
                  <option value="Arizona">(GMT-07:00) Arizona</option>
                  <option value="Mountain Time (US &amp; Canada)">(GMT-07:00) Mountain Time (US &amp; Canada)</option>
                  <option value="Central Time (US &amp; Canada)" selected="selected">(GMT-06:00) Central Time (US &amp; Canada)</option>
                  <option value="Eastern Time (US &amp; Canada)">(GMT-05:00) Eastern Time (US &amp; Canada)</option>
                  <option value="Indiana (East)">(GMT-05:00) Indiana (East)</option>
                </select>
              </div>
            </div>
          </div>
        </form> -->
      </div>
  </div>
</div></div>
</section>
</div>
</div>
<hr>
{% include 'includes/scripts.html' %}
</body>
</html>

