{% load static %}

<!DOCTYPE html>
<html lang="en">

{% include "includes/head.html" %}

<link rel="stylesheet" href="https://github.com/downloads/lafeber/world-flags-sprite/flags16.css" />

<style>
    .limited-width {
        max-width: 500px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        word-wrap: break-word;

    }

    .onoffswitch {
        position: relative;
        width: 67px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
    }

    .onoffswitch-checkbox {
        position: absolute;
        opacity: 0;
        pointer-events: none;
    }

    .onoffswitch-label {
        display: block;
        overflow: hidden;
        cursor: pointer;
        border: 2px solid #999999;
        border-radius: 20px;
    }

    .onoffswitch-inner {
        display: block;
        width: 200%;
        margin-left: -100%;
        transition: margin 0.3s ease-in 0s;
    }

    .onoffswitch-inner:before,
    .onoffswitch-inner:after {
        display: block;
        float: left;
        width: 50%;
        height: 20px;
        padding: 0;
        line-height: 20px;
        font-size: 14px;
        color: white;
        font-family: Trebuchet, Arial, sans-serif;
        font-weight: bold;
        box-sizing: border-box;
    }

    .onoffswitch-inner:before {
        content: "ON";
        padding-left: 10px;
        background-color: #34A7C1;
        color: #FFFFFF;
    }

    .onoffswitch-inner:after {
        content: "OFF";
        padding-right: 10px;
        background-color: #EEEEEE;
        color: #999999;
        text-align: right;
    }

    .onoffswitch-switch {
        display: block;
        width: 15px;
        margin: 7.5px;
        background: #FFFFFF;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 33px;
        border: 2px solid #999999;
        border-radius: 20px;
        transition: all 0.3s ease-in 0s;
    }

    .onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-inner {
        margin-left: 0;
    }

    .onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-switch {
        right: 0px;
    }
</style>

<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        {% include 'includes/topNavbar.html' %}
        {% include 'includes/sideNavbar.html' %}
        
        <div class="content-wrapper" style="background-color: white;">
            <!-- search and filter bar -->
            <div class="container-fluid hidden-transition">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active shadow" aria-current="page" href="#"
                            style="background-color: transparent;">Survey Analysis</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'survey_managment:compareData' %}">Compare Data</a>
                    </li>
                </ul>
                <br>


                <div class="container-fluid" style="background-color: #b7e4c7;">
                    <div class="container-fluid" id="searchArea">
                        <h2 class="textS">Search Area</h2>
                        <div class="onoffswitch" style="float: right;">
                            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch"
                                tabindex="0" checked>
                            <label class="onoffswitch-label" for="myonoffswitch">
                                <span class="onoffswitch-inner"></span>
                                <span class="onoffswitch-switch"></span>
                            </label>
                        </div>
                        <div class="row ">



                            {%include "includes/select.html"%}

                        </div>
                    </div>
                </div>

                <br>
            </div>



            <!-- table -->
            <section class="content" style="display: none;" id="section1">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="card hidden-transition">

                                <div class="card-header" style="justify-content: space-between;">
                                    <div class="card-title">
                                        <div id="selected-survey"></div>
                                    </div>

                                    <button id="exportButton_2" class="btn btn-success">Export to Excel</button>

                                </div>


                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table text-nowrap table-hover border table-bordered"
                                            id="general_Survey_Info">
                                            <thead>
                                                <th> Survey Name </th>
                                                <th id="total_weight"> Total Weight </th>
                                                <th id="total_answer"> Total Answer </th>
                                                <th id="weighted_sum"> Weighted Sum </th>
                                                <th> Average </th>



                                            </thead>
                                            <tbody id="tbody">

                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-5">
                            <figure class="highcharts-figure">
                                <div id="container"></div>
                                <p class="highcharts-description">

                                </p>
                            </figure>
                        </div>
                    </div>
                </div>
            </section>

            <div class="card hidden-transition" style="display: none;" id="msg1">

                <div class="card-header" style="justify-content: space-between;">

                </div>
                <div class="card-body" style="background-color: #94e299;">
                    <p id="no_resonse_msg" style="text-align: center;"> </p>
                </div>

            </div>



            <!-- table -->
            <section class="content" style="display: none;" id="section2">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card hidden-transition">

                                <div class="card-header" style="justify-content: space-between;">
                                    <div class="card-title">
                                        <div id="selected-survey"></div>
                                    </div>


                                </div>



                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table text-nowrap table-hover border table-bordered"
                                            id="survey_detail">
                                            <thead>
                                                <th> ጥያቄ</th>
                                                <th> ደረጃ </th>
                                                <th> ክብደት </th>

                                                <th>የተመዘነ ደረጃ</th>
                                                <th> በ100% ኛ </th>
                                                <th> Grading </th>





                                            </thead>
                                            <tbody id="tbody">

                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- two graphs  -->
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                           
                        </div>

                        <div class="col-lg-12 col-md-12">
                            <div class="card shadow hidden-transition">
                                <div class="card-body">
                                    <div class="form-group">
                                        <select class="select2" id="lineMinistrySelect" multiple="multiple"
                                            data-placeholder="Select a State" style="width: 100%;">
                                            <option value="">Select Line Ministry</option>
                                            {%for ministry in line_ministry%}
                                            <option value="{{ministry.id}}">{{ministry.name}}</option>
                                            {%endfor%}
                                        </select>
                                    </div>
                                    <button id="getSelectedValuesBtn" class="btn" style="background-color: #5fb68f;">Show selected Ministry Data </button>
                                      
                                    <figure class="highcharts-figure mb-0">
                                        <div id="barCharts"></div>
                                        <p class="highcharts-description"></p>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% include "includes/scripts.html" %}
    <script>

        // new DataTable('#survey_detail', {
        //     order: [[2, 'asc']],
        //     rowGroup: {
        //         dataSrc: 2
        //     }
        // });
        // new DataTable('#surveys', {
        //     order: [[2, 'asc']],
        //     rowGroup: {
        //         dataSrc: 2
        //     }
        // });
        var store_average = [];
        var store_survey_name = [];
        var ministry_info = [];
        var surveyData = {};
        var store_ministries = [];
        var categories = [];
        var surveyTypeInput = document.getElementById('survey_type');
        // var surveyTableBody_1 = document.getElementById('surveyTable').getElementsByTagName('tbody')[0];
        var surveyTableBody_2 = document.getElementById('survey_detail').getElementsByTagName('tbody')[0];
        var surveyTableBody_3 = document.getElementById('general_Survey_Info').getElementsByTagName('tbody')[0];
        var select_ministry = document.getElementById("ministry-select");
        var selectElement = document.getElementById("survey-select");
        var selectYear = document.getElementById("survey_year");
        var myCheckbox = document.getElementById('myonoffswitch');
        var mySelect = document.getElementById('survey-select');
        var option_table2 = document.getElementById('section1');
        var option_table1 = document.getElementById('section2');
        var column_chart = document.getElementById('container');
        var card_msg = document.getElementById('msg1');
        const button = document.getElementById('getSelectedValuesBtn');
        fetch('http://127.0.0.1:8000/get_json/')
            .then(res => res.json())
            .then(data => {
                categories = data.category;
                button.onclick = () => handleButtonClick(data);
                // Populate the survey type options
                data.survey_type.forEach(surveyType => {
                    var emptyOption = document.createElement("option");
                            emptyOption.value = "";
                            emptyOption.text = "-- Select an option --";
                    var option = document.createElement('option');
                    option.value = surveyType.id;
                    option.textContent = surveyType.name;
                    surveyTypeInput.appendChild(option);
                });
                myCheckbox.addEventListener('change', function () {
                    if (!myCheckbox.checked) {
                        mySelect.disabled = true;
                    } else {
                        mySelect.disabled = false;
                    }
                });
                surveyTypeInput.addEventListener('change', function () {
                    var selectedSurveyTypeId = parseInt(surveyTypeInput.value);
                    clearTable(surveyTableBody_2);
                    clearOptions(select_ministry);
                    clearOptions(selectElement);
                    selectYear.addEventListener('change', function () {
                        var selectedYear = parseInt(selectYear.value);
                        clearTable(surveyTableBody_2);
                        clearOptions(select_ministry);
                        clearOptions(selectElement);
                        if (selectedSurveyTypeId && myCheckbox.checked && selectedYear) {
                            var surveys = data.survey.filter(survey => survey.survey_type_id === selectedSurveyTypeId && new Date(survey.created_at).getFullYear() === selectedYear);
                            var emptyOption = document.createElement("option");
                            emptyOption.value = "";
                            emptyOption.text = "-- Select an option --";

                            // Append the empty option to the select element
                            selectElement.appendChild(emptyOption);
                            surveys.forEach(survey => {
                                var option = document.createElement("option");
                                var emptyOption = document.createElement("option");
                            emptyOption.value = "";
                            emptyOption.text = "-- Select Survey --";
                                option.value = survey.id;
                                option.textContent = survey.name;
                                selectElement.appendChild(option);
                                selectElement.addEventListener('change', function () {
                                    var selectedSurvey = selectElement.value;
                                    console.log('Selected survey:', selectedSurvey);
                                    var selectedSurveyId = parseInt(selectElement.value);
                                    for (var i = 0; i < data.surveys.length; i++) {
                                        if (data.surveys[i].id === selectedSurveyId) {
                                            selectedSurvey = data.surveys[i];
                                            break;
                                        }
                                    }
                                    if (selectedSurvey) {
                                        var lineMinistries = selectedSurvey.line_ministries;
                                        while (select_ministry.firstChild) {
                                            select_ministry.removeChild(select_ministry.firstChild)
                                        }
                                        var emptyOption = document.createElement("option");
                                        emptyOption.value = "";
                                        emptyOption.text = "-- Select an option --";
                                        select_ministry.appendChild(emptyOption);
                                        lineMinistries.forEach(function (lineMinistry) {
                                            var ministry_option = document.createElement("option");
                                            ministry_option.value = lineMinistry.id;
                                            ministry_option.textContent = lineMinistry.name;
                                            select_ministry.append(ministry_option)

                                        });
                                    }
                                    else {
                                        console.log('Selected survey not found');
                                    }
                                    select_ministry.addEventListener("change", function () {
                                        if (select_ministry) {
                                            clearTable(surveyTableBody_2)
                                        }
                                        var selectedLineMinistry = parseInt(select_ministry.value);
                                        user = null;
                                        weightedSum = 0;
                                        data.users.forEach(function (users) {
                                            if (users.Line_ministry_id === selectedLineMinistry) {
                                                user = users.id;
                                                return;
                                            }
                                        });
                                        var selectedUserResponses = data.user_response.filter(function (userResponse) {
                                            return userResponse.submitted_by_id === user && userResponse.forsurvey_id === selectedSurveyId;
                                        });
                                        userResponseId = null
                                        selectedUserResponses.forEach(function (userResponse) {
                                            if (userResponse.submitted_by_id === user) {
                                                userResponseId = userResponse.id;
                                                return;
                                            }
                                        });
                                        if (userResponseId !== null) {
                                            card_msg.style.display = "none";
                                            var answers = data.answer.filter(function (answer) {
                                                return answer.response_id === userResponseId;
                                            });
                                            console.log(answers);

                                            var answerValues = answers.map(function (answer) {
                                                return {
                                                    value: parseFloat(answer.answertext),
                                                    questionId: answer.forquestion_id
                                                };
                                            });
                                            console.log(answerValues);
                                            var weightedSum = 0;
                                            var totalWeight = 0;
                                            var total_weightedinPercent = 0;
                                            var count = 0;
                                            var total_answer = 0;
                                            var cat = data.category;
                                            answerValues.forEach(function (answer) {
                                                var question = data.questions.find(function (q) {
                                                    return q.id === answer.questionId;
                                                });
                                                    if(question.parent_id){
                                                 var childCatagories = cat.filter(function(cat){
                                                    return cat.id === question.parent_id;
                                                 });
                                                 console.log(childCatagories);
                                                    }
                                                console.log(question);
                                                if (question) {
                                                    var weight = question.weight;
                                                    var total_weight = 0
                                                    if (!isNaN(answer.value)) {
                                                        weightedSum += answer.value * weight;
                                                        totalWeight += weight;
                                                        total_answer += answer.value;
                                                    }
                                                    var weighted__Sum = 0;
                                                    if (totalWeight > 0) {
                                                        var weightedAverage = weightedSum / totalWeight;
                                                        var row = surveyTableBody_2.insertRow();
                                                        var question_cell = row.insertCell();
                                                        question_cell.textContent = question.title;
                                                        row.insertCell().textContent = answer.value;
                                                        question_cell.classList.add('limited-width');
                                                        row.insertCell().textContent = weight;
                                                        row.insertCell().textContent = answer.value * weight;
                                                        var totalresult = answer.value * weight
                                                        var max_value = 10;

                                                        var weightedinPercent = ((totalresult) / (max_value * weight)) * 100;
                                                        count++;
                                                        total_weightedinPercent += weightedinPercent;

                                                        row.insertCell().textContent = weightedinPercent + "%";
                                                        var x = weightedinPercent;
                                                        var newCell = row.insertCell();
                                                        newCell.id = 'Indicator';
                                                        if (x >= 90) {
                                                            newCell.textContent = " Very Good";
                                                            newCell.style.backgroundColor = "#52B788";
                                                        } else if (x >= 80) {
                                                            newCell.textContent = "Good";
                                                            newCell.style.backgroundColor = "#C2FA41";
                                                        } else if (x >= 60) {
                                                            newCell.textContent = "Satisfactory";
                                                            newCell.style.backgroundColor = "#C1FA61";
                                                        } else if (x >= 50) {
                                                            newCell.textContent = "Poor";
                                                            newCell.style.backgroundColor = "#FAEB41";
                                                        } else if (x >= 40) {
                                                            newCell.textContent = "Very Poor";
                                                            newCell.style.backgroundColor = " #FA7D41";
                                                        } else {
                                                            newCell.textContent = "Extremely Poor";
                                                            newCell.style.backgroundColor = "#FA7D41";
                                                        }
                                                        console.log("Weighted average of answers: " + weightedAverage.toFixed(2));
                                                    } else {
                                                        console.log("No valid answers found for the selected line ministry.");
                                                    }
                                                }
                                            });
                                            var totalRow = surveyTableBody_2.insertRow();
                                            var labelCell = totalRow.insertCell();
                                            labelCell.textContent = 'Total';
                                            var valueCell = totalRow.insertCell();
                                            valueCell.textContent = total_answer;
                                            var weightCell = totalRow.insertCell();
                                            weightCell.textContent = totalWeight;
                                            var weightCell = totalRow.insertCell();
                                            weightCell.textContent = weightedSum;
                                            var averageCell = totalRow.insertCell();
                                            var average = total_weightedinPercent / count;
                                            averageCell.textContent = average.toFixed(2) + "%";
                                            surveyTableBody_2.appendChild(totalRow);
                                            option_table1.style.display = "block";
                                        }
                                        else {
                                            option_table1.style.display = "none";
                                            var h3Element = document.getElementById("no_resonse_msg");
                                            h3Element.textContent = 'No user_response ID found for the selected line ministry.';
                                            card_msg.style.display = "block";
                                        }
                                    });
                                });
                                var selectedSurvey = (selectElement.value);
                            });

                        }
                        
                        else if (selectedSurveyTypeId && !myCheckbox.checked || selectYear) {

                            
                            var total_weight = document.getElementById('total_weight');
                            var total_answer = document.getElementById('total_answer');
                            var weighted_sum = document.getElementById('weighted_sum');
                            total_answer.style.display = 'none';
                            total_weight.style.display = 'none';
                            weighted_sum.style.display = 'none';
                            var survey_s = data.survey.filter(survey => survey.survey_type_id === selectedSurveyTypeId && new Date(survey.created_at).getFullYear() === selectedYear);
                            if (survey_s) {
                                var lineMinistries = []
                                survey_s.forEach(function (survey) {
                                    var matchingSurvey = data.surveys.find(s => s.id === survey.id)
                                    console.log(matchingSurvey);
                                    if (matchingSurvey) {
                                        lineMinistries = lineMinistries.concat(matchingSurvey.line_ministries);
                                    }
                                });
                                var uniqueLineMinistries = lineMinistries.filter((ministry, index, self) =>
                                    index === self.findIndex(m => m.name === ministry.name)
                                );
                                
                                uniqueLineMinistries.forEach(function (lineMinistry) {
                                    
                                    var ministry_option = document.createElement("option");
                                    ministry_option.value = "";
                            ministry_option.text = "-- Select an option --";
                                    ministry_option.value = lineMinistry.id;
                                    ministry_option.textContent = lineMinistry.name;
                                    select_ministry.append(ministry_option)

                                });

                                select_ministry.addEventListener("change", function () {
                                    clearArrays(store_ministries);
                                    clearArrays(store_average);


                                    if (select_ministry) {
                                        clearArrays(store_average, store_survey_name)
                                        clearTable(surveyTableBody_3);
                                        var selectedLineMinistry = parseInt(select_ministry.value);
                                    }


                                    var surveysWithSelectedMinistry = [];

                                    data.surveys.forEach(function (survey) {
                                        if (survey_s.some(function (s) { return s.id === survey.id; })) {
                                            var hasSelectedMinistry = survey.line_ministries.some(function (ministry) {
                                                return ministry.id === selectedLineMinistry;
                                            });

                                            if (hasSelectedMinistry) {
                                                surveysWithSelectedMinistry.push(survey.id);
                                            }
                                        }
                                    });

                                    user = null;
                                    data.users.forEach(function (users) {
                                        if (users.Line_ministry_id === selectedLineMinistry) {
                                            user = users.id;
                                            return;
                                        }
                                    });
                                    surveysWithSelectedMinistry.forEach(function (surveyId) {
                                        var selectedUserResponses = data.user_response.filter(function (userResponse) {
                                            return userResponse.submitted_by_id === user && userResponse.forsurvey_id === surveyId;
                                        });
                                        userResponseId = null
                                        selectedUserResponses.forEach(function (userResponse) {
                                            if (userResponse.submitted_by_id === user) {
                                                userResponseId = userResponse.id;
                                                return;
                                            }
                                        });
                                        if (userResponseId !== null) {
                                            var answers = data.answer.filter(function (answer) {
                                                return answer.response_id === userResponseId;
                                            });

                                            var answerValues = answers.map(function (answer) {
                                                return {
                                                    value: parseFloat(answer.answertext),
                                                    questionId: answer.forquestion_id
                                                };
                                            });

                                            var weightedSum = 0;
                                            var totalWeight = 0;
                                            var total_weightedinPercent = 0;
                                            var count = 0;
                                            var total_answer = 0;
                                            answerValues.forEach(function (answer) {
                                                var question = data.questions.find(function (q) {
                                                    return q.id === answer.questionId;
                                                });
                                                if (question) {
                                                    var weight = question.weight;
                                                    total_weight = 0
                                                    if (!isNaN(answer.value)) {
                                                        weightedSum += answer.value * weight;
                                                        totalWeight += weight;
                                                        total_answer += answer.value;
                                                    }
                                                    var weighted__Sum = 0;
                                                    if (totalWeight > 0) {
                                                        var weightedAverage = weightedSum / totalWeight;
                                                        var totalresult = answer.value * weight
                                                        var max_value = 10;

                                                        var weightedinPercent = ((totalresult) / (max_value * weight)) * 100;
                                                        count++;
                                                        total_weightedinPercent += weightedinPercent;
                                                        var x = weightedinPercent;
                                                        console.log("Weighted average of answers: " + weightedAverage.toFixed(2));
                                                    } else {
                                                        console.log("No valid answers found for the selected line ministry.");
                                                    }
                                                }
                                            });
                                        }

                                        var average = total_weightedinPercent / count;
                                       
                                        if (average) {

                                            var totalRow = surveyTableBody_3.insertRow();
                                            var survey = data.survey.find(function (survey) {
                                                return survey.id === surveyId;
                                            });
                                            var surveyName = survey ? survey.name : "survey not found";
                                            store_survey_name.push(surveyName);
                                            totalRow.insertCell().textContent = surveyName;
                                            var averageCell = totalRow.insertCell();
                                            var appr = average.toFixed(2);
                                            averageCell.textContent = appr + "%";
                                            store_average.push(appr);
                                            surveyTableBody_3.appendChild(totalRow);
                                        }
                                        option_table2.style.display = "block";
                                        var ministry = data.line_ministry.find(function (ministry) {
                                            return ministry.id === selectedLineMinistry;
                                        });
                                        var ministry_name = ministry ? ministry.name : "survey not found";
                                        draw_columnChart(store_survey_name, store_average, ministry_name);
                                    });
                                });


                            }

                        }
                    });
                });
            })
            .catch(error => {
                console.error('Error fetching data:', error);
            });
        document.getElementById('exportButton').onclick = function () {
            exportTableToExcel('survey_detail', 'exported_table');
        }
        document.getElementById('exportButton_1').onclick = function () {
            exportTableToExcel('surveyTable', 'exported_table');
        }
        document.getElementById('exportButton_2').onclick = function () {
            exportTableToExcel('general_Survey_Info', 'exported_table');
        }
        Highcharts.chart('pieChart', {
            chart: {
                type: 'variablepie'
            },
            title: {
                text: 'Countries compared by population density and total area, 2022.',
                align: 'left'
            },
            tooltip: {
                headerFormat: '',
                pointFormat: '<span style="color:{point.color}">\u25CF</span> <b> {point.name}</b><br/>' +
                    'Area (square km): <b>{point.y}</b><br/>' +
                    'Population density (people per square km): <b>{point.z}</b><br/>'
            },
            series: [{
                minPointSize: 10,
                innerSize: '20%',
                zMin: 0,
                name: 'countries',
                borderRadius: 5,
                data: [{
                    name: 'Spain',
                    y: 505992,
                    z: 92
                }, {
                    name: 'France',
                    y: 551695,
                    z: 119
                }, {
                    name: 'Poland',
                    y: 312679,
                    z: 121
                }, {
                    name: 'Czech Republic',
                    y: 78865,
                    z: 136
                }, {
                    name: 'Italy',
                    y: 301336,
                    z: 200
                }, {
                    name: 'Switzerland',
                    y: 41284,
                    z: 213
                }, {
                    name: 'Germany',
                    y: 357114,
                    z: 235
                }],
                colors: [
                    '#4caefe',
                    '#3dc3e8',
                    '#2dd9db',
                    '#1feeaf',
                    '#0ff3a0',
                    '#00e887',
                    '#23e274'
                ]
            }]
        });
        function draw_columnChart(x, y, z) {
            const numericStoreAverage = y.map(value => parseFloat(value));
            Highcharts.chart('container', {
                chart: {
                    type: 'column'
                },
                title: {
                    text: z,
                    align: 'left'
                },
                subtitle: {
                    text:
                        '',
                    align: 'left'
                },
                xAxis: {
                    categories: x,
                    crosshair: true,
                    accessibility: {
                        description: 'Countries'
                    }
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: ''
                    }
                },
                tooltip: {
                    valueSuffix: ''
                },
                plotOptions: {
                    column: {
                        pointPadding: 0.2,
                        borderWidth: 0
                    }
                },
                series: [
                    {
                        name: 'Average',
                        data: numericStoreAverage
                    }
                ]
            });
        }
        var chart = null;
        function handleButtonClick(data) {
            surveyData = {};
            var selectedOptions = [];
            var ministryNames = [];
            function getSelectedValues() {
                var selectElement = document.getElementById('lineMinistrySelect');
                if (selectElement === null) {
                    console.log("Select element not found");
                    return;
                }
                var selectedOptions = Array.from(selectElement.selectedOptions).map(function (option) {
                    return parseInt(option.value, 10); // Convert the ID to an integer
                });
                var surveyIds = data.surveys.filter(survey =>
                    selectedOptions.every(ministryId =>
                        survey.line_ministries.some(ministry => ministry.id === ministryId) &&
                        data.user_response.some(response => response.forsurvey_id == survey.id)
                    ) 
                ).map(survey => survey.id);
                console.log(surveyIds);

    
           
                userResponseId = null;
                for (var i = 0; i < surveyIds.length; i++) {
                     var surveyId = surveyIds[i];
                    for (var j = 0; j < selectedOptions.length; j++)
                     {
                        var lineMinistryId = selectedOptions[j];
                        var userFound = false;
                        for (var k = 0; k < data.users.length; k++) {
                            var user = data.users[k];
                            if (user.Line_ministry_id === lineMinistryId) {
                                userFound = true;
                                for (var l = 0; l < data.user_response.length; l++) {
                                    var response = data.user_response[l];

                                    if (response.forsurvey_id === surveyId && response.submitted_by_id === user.id ) {
                                        userResponseId = response.id;
                                        break;
                                    }
                                }
                                break;
                            }
                        }
                        console.log(isLineMinistryInUserResponse);
                        var isLineMinistryInUserResponse = data.user_response.some(response => response.submitted_by_lineMinistry == lineMinistryId);

                        if (userResponseId !== null && isLineMinistryInUserResponse) {
                            var answers = data.answer.filter(function (answer) {
                                return answer.response_id === userResponseId;
                            });
                            var answerValues = answers.map(function (answer) {
                                return {
                                    value: parseFloat(answer.answertext),
                                    questionId: answer.forquestion_id
                                };
                            });
                            var weightedSum = 0;
                            var totalWeight = 0;
                            var total_weightedinPercent = 0;
                            var count = 0;
                            var total_answer = 0;
                            answerValues.forEach(function (answer) {
                                var question = data.questions.find(function (q) {
                                    return q.id === answer.questionId;
                                });
                                if (question) {
                                    var weight = question.weight;
                                    var total_weight = 0
                                    if (!isNaN(answer.value)) {
                                        weightedSum += answer.value * weight;
                                        totalWeight += weight;
                                        total_answer += answer.value;
                                    }
                                    var weighted__Sum = 0;
                                    if (totalWeight > 0) {
                                        var weightedAverage = weightedSum / totalWeight;
                                        var totalresult = answer.value * weight
                                        var max_value = 10;
                                        var weightedinPercent = ((totalresult) / (max_value * weight)) * 100;
                                        count++;
                                        total_weightedinPercent += weightedinPercent;
                                        var x = weightedinPercent;
                                        console.log("Weighted average of answers: " + weightedAverage.toFixed(2) + "by   " + user.id + "for survey " + surveyId);
                                    } else {
                                        console.log("No valid answers found for the selected line ministry.");
                                    }
                                }
                            });
                            var average = total_weightedinPercent / count;
                            var Objects = {};
                            Objects.lineMinistries = lineMinistryId;
                            Objects.survey = surveyId;
                            Objects.average = average
                            ministry_info.push(Objects);
                        }
                    }
                }
            }
            const selectedMinistries = getSelectedValues();
            for (var key in ministry_info) {
                var entry = ministry_info[key];
                var surveyId = entry.survey;
                var lineMinistryId = entry.lineMinistries;
                var average = entry.average;
                if (!store_ministries.includes(lineMinistryId)) {

                    store_ministries.push(lineMinistryId);
                }

                if (surveyData[surveyId] === undefined) {

                    surveyData[surveyId] = [average];

                } else {

                    surveyData[surveyId].push(average);


                }
            }

            for (var surveyId in surveyData) {
                var average = surveyData[surveyId];
                var formattedData = [];
                for (var surveyId in surveyData) {
                    var survey = data.survey.find(function (survey) {
                        return survey.id == surveyId;
                    });
                    var surveyName = survey ? survey.name : "survey not found";
                    var surveysIds = surveyData[surveyId];
                    formattedData.push({
                        name: surveyName,
                        data: surveysIds
                    });
                }
                var result = ministry_info.map(function (obj) {
                    return { lineMinistries: obj.lineMinistryId };
                });
                var ministryNames = [];
                for (var i = 0; i < store_ministries.length; i++) {
                    var Ministry = data.line_ministry.find(function (ministry) {
                        return ministry.id === store_ministries[i];
                    });
                    if (Ministry) {
                        ministryNames.push(Ministry.name);
                    }
                    else {
                        console.log("No name");
                    }
                }
                clearAndRedrawChart(ministryNames, formattedData);
                ministryNames = [];
                formattedData = [];
                ministry_info = [];
            }
        }
        function clearAndRedrawChart(ministryNames, formattedData) {
            Highcharts.chart('barCharts', {
                chart: {
                    type: 'column'
                },
                title: {
                    text: ''
                },
                xAxis: {
                    categories: ministryNames
                },
                credits: {
                    enabled: false
                },
                plotOptions: {
                    column: {
                        borderRadius: '25%'
                    }
                },
                series: formattedData
            });
        }
        function clearTable(tableBody) {
            while (tableBody.firstChild) {
                tableBody.removeChild(tableBody.firstChild);
            }
        }
        function clearOptions(select) {
            while (select.firstChild) {
                select.removeChild(select.firstChild);
            }
        }
        function exportTableToExcel(tableId, filename = '') {
            var downloadLink;
            var dataType = 'application/vnd.ms-excel';
            var tableSelect = document.getElementById(tableId);
            var tableHTML = tableSelect.outerHTML.replace(/ /g, '%20');

            filename = filename ? filename + '.xlsb' : 'excel_data.xlsb';

            downloadLink = document.createElement("a");

            document.body.appendChild(downloadLink);

            if (navigator.msSaveOrOpenBlob) {
                var blob = new Blob(['\ufeff', tableHTML], {
                    type: dataType
                });
                navigator.msSaveOrOpenBlob(blob, filename);
            } else {
                downloadLink.href = 'data:' + dataType + ', ' + tableHTML;
                downloadLink.download = filename;
                downloadLink.click();
            }
        }
        function clearArrays(param1) {
            if (Array.isArray(param1)) {
                param1.length = 0;
            } else if (param1) {
                // Convert param1 into an array
                param1 = Array.from(param1); // or param1 = [...param1];
                param1.length = 0;
            } else {
                console.error('is not an array');
            }
        }
        function calculate_category_average(category) {

        }


    </script>

</body>

</html>