{% load static %}

<!DOCTYPE html>
<html lang="en">

{% include "includes/head.html" %}

<link rel="stylesheet" href="https://github.com/downloads/lafeber/world-flags-sprite/flags16.css" />

<style>
    .limited-width {
        max-width: 500px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        word-wrap: break-word;

    }

    .onoffswitch {
        position: relative;
        width: 67px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
    }

    .onoffswitch-checkbox {
        position: absolute;
        opacity: 0;
        pointer-events: none;
    }

    .onoffswitch-label {
        display: block;
        overflow: hidden;
        cursor: pointer;
        border: 2px solid #999999;
        border-radius: 20px;
    }

    .onoffswitch-inner {
        display: block;
        width: 200%;
        margin-left: -100%;
        transition: margin 0.3s ease-in 0s;
    }

    .onoffswitch-inner:before,
    .onoffswitch-inner:after {
        display: block;
        float: left;
        width: 50%;
        height: 20px;
        padding: 0;
        line-height: 20px;
        font-size: 14px;
        color: white;
        font-family: Trebuchet, Arial, sans-serif;
        font-weight: bold;
        box-sizing: border-box;
    }

    .onoffswitch-inner:before {
        content: "ON";
        padding-left: 10px;
        background-color: #34A7C1;
        color: #FFFFFF;
    }

    .onoffswitch-inner:after {
        content: "OFF";
        padding-right: 10px;
        background-color: #EEEEEE;
        color: #999999;
        text-align: right;
    }

    .onoffswitch-switch {
        display: block;
        width: 15px;
        margin: 7.5px;
        background: #FFFFFF;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 33px;
        border: 2px solid #999999;
        border-radius: 20px;
        transition: all 0.3s ease-in 0s;
    }

    .onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-inner {
        margin-left: 0;
    }

    .onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-switch {
        right: 0px;
    }
</style>

<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        {% include 'includes/topNavbar.html' %}
        {% include 'includes/sideNavbar.html' %}
        
        <div class="content-wrapper" style="background-color: white;">
            <!-- search and filter bar -->
            <div class="container-fluid hidden-transition">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active shadow" aria-current="page" href="#"
                            style="background-color: transparent;">Survey Analysis</a>
                    </li>
                  
                </ul>
                <br>


                <div class="container-fluid" style="background-color: #b7e4c7;">
                    <div class="container-fluid" id="searchArea">
                        <h2 class="textS">Search Area</h2>
                        <div class="row ">
                            {%include "includes/select.html"%}
                        </div>
                    </div>
                </div>

                <br>
            </div>



            <!-- table -->
            <section class="content" style="display: none;" id="section1">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="card hidden-transition">

                                <div class="card-header" style="justify-content: space-between;">
                                    <div class="card-title">
                                        <div id="selected-survey"></div>
                                    </div>

                                    <button id="exportButton_2" class="btn btn-success">Export to Excel</button>

                                </div>


                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table text-nowrap table-hover border table-bordered"
                                            id="general_Survey_Info">
                                            <thead>
                                                <th> Survey Name </th>
                                                <th id="total_weight"> Total Weight </th>
                                                <th id="total_answer"> Total Answer </th>
                                                <th id="weighted_sum"> Weighted Sum </th>
                                                <th> Average </th>



                                            </thead>
                                            <tbody id="tbody">

                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-5">
                            <figure class="highcharts-figure">
                                <div id="container"></div>
                                <p class="highcharts-description">

                                </p>
                            </figure>
                        </div>
                    </div>
                </div>
            </section>

            <div class="card hidden-transition" style="display: none;" id="msg1">

                <div class="card-header" style="justify-content: space-between;">

                </div>
                <div class="card-body" style="background-color: #94e299;">
                    <p id="no_resonse_msg" style="text-align: center;"> </p>
                </div>

            </div>



            <!-- table -->
            <section class="content" style="display: none;" id="section2">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card hidden-transition">
                                <div class="card-header" style="justify-content: space-between;">
                                    <div class="card-title">
                                        <div id="selected-survey"></div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table text-nowrap table-hover border table-bordered"
                                            id="survey_detail">
                                            <thead>
                                                <th> ጥያቄ</th>
                                                <th> ደረጃ </th>
                                                <th> ክብደት </th>

                                                <th>የተመዘነ ደረጃ</th>
                                                <th> በ100% ኛ </th>
                                                <th> Grading </th>
                                            </thead>
                                            <tbody id="tbody">

                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% include "includes/scripts.html" %}    
<script>
        var store_average = [];
        var store_survey_name = [];
        var ministry_info = [];
        var surveyData = {};
        var store_ministries = [];
        var categories = [];
        var surveyTypeInput = document.getElementById('survey_type');
        // var surveyTableBody_1 = document.getElementById('surveyTable').getElementsByTagName('tbody')[0];
        var surveyTableBody_2 = document.getElementById('survey_detail').getElementsByTagName('tbody')[0];
        var surveyTableBody_3 = document.getElementById('general_Survey_Info').getElementsByTagName('tbody')[0];
        var select_ministry = document.getElementById("ministry-select");
        var selectElement = document.getElementById("survey-select");
        var selectsection = document.getElementById("section-select");
        var selectYear = document.getElementById("survey_year");
        var myCheckbox = document.getElementById('myonoffswitch');
        var mySelect = document.getElementById('survey-select');
        var option_table2 = document.getElementById('section1');
        var option_table1 = document.getElementById('section2');
        var column_chart = document.getElementById('container');
        var card_msg = document.getElementById('msg1');
        const button = document.getElementById('getSelectedValuesBtn');
        fetch('http://127.0.0.1:8000/get_json/')
            .then(res => res.json())
            .then(data => {
                categories = data.category;
                // Populate the survey type options
                data.survey_type.forEach(surveyType => {
                    var emptyOption = document.createElement("option");
                            emptyOption.value = "";
                            emptyOption.text = "-- Select an option --";
                    var option = document.createElement('option');
                    option.value = surveyType.id;
                    option.textContent = surveyType.name;
                    surveyTypeInput.appendChild(option);
                });
                surveyTypeInput.addEventListener('change', function () {
                    var selectedSurveyTypeId = parseInt(surveyTypeInput.value);
                    selectYear.addEventListener('change', function () {
                        var selectedYear = parseInt(selectYear.value);
                        if (selectedSurveyTypeId && selectedYear) {
                            let Assesment = data.Assesment.filter(survey => survey.survey_type === selectedSurveyTypeId && new Date(survey.created_at).getFullYear() === selectedYear);
                            var emptyOption = document.createElement("option");
                        emptyOption.value = "";
                        emptyOption.text = "-- Select an option --";
                        selectElement.appendChild(emptyOption);
                        Assesment.forEach(survey => {
                            var option = document.createElement("option");
                            var emptyOption = document.createElement("option");
                        emptyOption.value = "";
                        emptyOption.text = "-- Select Survey --";
                            option.value = survey.id;
                            option.textContent = survey.name;
                            selectElement.appendChild(option);
                        });
                        let sections = [];
                        selectElement.addEventListener('change', function () {
                                var selectedSurvey = selectElement.value;
                                console.log('Selected survey:', selectedSurvey);
                                Assesment.forEach(survey => {
                                    console.log(survey.section);
                                    survey.section.forEach(section => {
                                        let matchingSections = data.section.filter(function(element) {
  return element.id === section;
});

let section_names = matchingSections.map(function(section) {
  return section.name;
});                let option = document.createElement("option");
                option.value = section;
                option.textContent = section_names;
                selectsection.appendChild(option);
            
        });
                        });
                                
                        });
                        selectsection.addEventListener("change", function () {
                  var selectedSection = selectsection.value;
                  console.log("Selected section:", selectedSection);
                  Assesment.forEach((survey) => {
                    survey.for_line_ministry.forEach((ministry) => {
                      let matchingMinistry = data.line_ministry.filter(function (
                        element
                      ) {
                        return element.id === ministry;
                      });

                      let ministry_name = matchingMinistry.map(function (
                        ministry
                      ) {
                        return ministry.name;
                      });
                      let option = document.createElement("option");
                      option.value = ministry;
                      option.textContent = ministry_name;
                      select_ministry.appendChild(option);
                    });
                  });
                });
                        }
                        
                        });
                });
            })
            .catch(error => {
                console.error('Error fetching data:', error);
            });
</script>

</body>

</html>