{% load static %}
<!DOCTYPE html>
<html lang="en">

{% include 'includes/head.html' %}

<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        {% include 'includes/topNavbar.html' %}
        {% include 'includes/sideNavbar.html' %}

        <div class="content-wrapper">

            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>Forms</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active">Compose</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </section>

            <div class="col-md-3 col-sm-6 col-12">
                <a href="{% url 'formDetail' %}" style="color: black;">
                    <div class="info-box shadow">
                        <span class="info-box-icon bg-warning"><i class="far fa-copy"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">Form Name</span>
                            <span class="info-box-number">Regular</span>
                        </div>
                    </div>
                </a>
            </div>

        </div>

        <footer class="main-footer">
            <div class="float-right d-none d-sm-block">
                <b>Version</b> 3.2.0
            </div>
            reserved.
        </footer>


    </div>


{% include 'includes/scripts.html' %}
</body>

</html>