{% load static %}
<!DOCTYPE html>
<html lang="en">
{% include "includes/head.html" %}
<body class="hold-transition sidebar-mini layout-fixed">
    <style>
        .textS{
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
    }
    </style>

    
    <div class="wrapper">
        {%include 'includes/loader.html'%}
        {% include 'includes/topNavbar.html' %}
        {% include 'includes/sideNavbar.html' %}
        <div class="content-wrapper">
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="card shadow">
                                <div class="card-body">
                                    <figure class="highcharts-figure">
                                        <div id="splineChart"></div>
                                        <p class="highcharts-description">
                                        </p>
                                    </figure>
                                </div>
                            </div>
                        </div>

                        <!-- dynamic count cards -->
                        <div class="col-lg-4" style="margin: auto;">
                            <div class="card" style="border: 2px solid;
                                    border-image: linear-gradient(to right, #00b894, #00a6fb);
                                    border-image-slice: 1;
                                    box-shadow: 2px 2px 15px rgba(56, 247, 244, 0.5);">
                                <div class="card-body">
                                    <div class="d-flex align-items-top ">
                                        <div class="flex-fill">
                                            <h5 class="d-block fw-semibold  mb-1">Total - Survey</h5>
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="d-block ">
                                                    <div class="text-muted">Js count</div>
                                                    <a href="" class="nav-link text-primary">
                                                        View All
                                                        <i class="bi bi-arrow-right-circle"></i>
                                                    </a>
                                                </div>
                                                <a class="btn btn-app"
                                                    style="background-color: #0eadfc; border-radius: 10px;">
                                                    <i class=" bi bi-file-earmark-text bi-main"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="card " style="border: 2px solid;
                            border-image: linear-gradient(to right, #00b894, #5e60ce);
                            border-image-slice: 1;
                            box-shadow: 2px 2px 15px rgba(56, 247, 244, 0.5);">
                                <div class="card-body">
                                    <div class="d-flex align-items-top ">
                                        <div class="flex-fill">
                                            <h5 class="d-block fw-semibold  mb-1">Total - </h5>
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="d-block ">
                                                    <div class="text-muted">Js count</div>
                                                    <a href="" class="nav-link" style="color: #5e60ce;">
                                                        View All
                                                        <i class="bi bi-arrow-right-circle"></i>
                                                    </a>
                                                </div>
                                                <a class="btn btn-app"
                                                    style="background-color: #5e60ce; border-radius: 10px;">
                                                    <i class="bi bi-journals bi-main"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="card" style="border: 2px solid;
                            border-image: linear-gradient(to right, #00b894, #7ae582);
                            border-image-slice: 1;
                            box-shadow: 2px 2px 15px rgba(56, 247, 244, 0.5);">
                                <div class="card-body">
                                    <div class="d-flex align-items-top ">
                                        <div class="flex-fill">
                                            <h5 class="d-block fw-semibold  mb-1">Total - </h5>
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="d-block ">
                                                    <div class="text-muted">Js count</div>
                                                    <a href="" class="nav-link " style="color: #7ae582;">
                                                        View All
                                                        <i class="bi bi-arrow-right-circle"></i>
                                                    </a>
                                                </div>
                                                <a class="btn btn-app"
                                                    style="background-color: #7ae582; border-radius: 10px;">
                                                    <i class="bi bi-card-checklist bi-main"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- search and filter bar -->
            <div class="container-fluid">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active shadow" aria-current="page" href="#"
                            style="background-color: transparent;">Survey Analysis</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="compare.html">Compare Data</a>
                    </li>
                </ul>
                <br>
                <div class="container-fluid" style="background-color: #e3f2fd;">
                    <div class="container-fluid" id="searchArea">
                        <h2 class="textS">Search Area</h2>
                        <div class="row ">
                            <div class="form-group col-lg-6 col-sm-12">
                                <label class="textS">Survey</label>
                                <select class="form-control select2">
                                    <option selected="selected">Alabama</option>
                                    <option>Alaska</option>
                                    <option>California</option>
                                    <option>Delaware</option>
                                    <option>Tennessee</option>
                                    <option>Texas</option>
                                    <option>Washington</option>
                                </select>
                            </div>
                            <div class="form-group col-lg-6 col-sm-12">
                                <label class="textS">By Date</label>
                                <select class="form-control select2">
                                    <option selected="selected">Alabama</option>
                                    <option>Alaska</option>
                                    <option>California</option>
                                    <option>Delaware</option>
                                    <option>Tennessee</option>
                                    <option>Texas</option>
                                    <option>Washington</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
            </div>

            <!-- table -->
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">

                                <div class="card-header" style="justify-content: space-between;">
                                    <div class="card-title">
                                        {survey title}
                                    </div>
                                    <div class="d-flex" style="float: right;">
                                        <div class="me-3">
                                            <input class="form-control form-control-sm" type="text" placeholder="Search Here" aria-label=".form-control-sm example">
                                        </div>
                                        <div class="dropdown">
                                            <a href="" class="btn btn-primary btn-sm btn-wave waves-effect waves-light" data-bs-toggle="dropdown" aria-expanded="false">
                                                Sort By<i class="ri-arrow-down-s-line align-middle ms-1 d-inline-block"></i>
                                            </a>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a class="dropdown-item" href="">New</a></li>
                                                <li><a class="dropdown-item" href="">Popular</a></li>
                                                <li><a class="dropdown-item" href="">Relevant</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>


                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table text-nowrap table-hover border table-bordered">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Line Minister</th>
                                                    <th scope="col">Question 1</th>
                                                    <th scope="col">Question 2</th>
                                                    <th scope="col">Question 3</th>
                                                    <th scope="col">Question 4</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Manufacture</td>
                                                    <td>Team Lead</td>
                                                    <td>mayorkelly@gmail.com</td>
                                                    <td>
                                                        <div class="d-inline-flex align-items-center">
                                                            <i class="ri-map-pin-fill text-muted fs-10"></i>
                                                            <span class="ms-1">Germany</span>
                                                        </div>
                                                    </td>
                                                    <td>Sep 15 - Oct 12, 2023</td>
                                                </tr>
                                                <tr>
                                                    <td>Manufacture</td>
                                                    <td>Team Lead</td>
                                                    <td>mayorkelly@gmail.com</td>
                                                    <td>
                                                        <div class="d-inline-flex align-items-center">
                                                            <i class="ri-map-pin-fill text-muted fs-10"></i>
                                                            <span class="ms-1">Germany</span>
                                                        </div>
                                                    </td>
                                                    <td>Sep 15 - Oct 12, 2023</td>
                                                </tr>
                                                <tr>
                                                    <td>Manufacture</td>
                                                    <td>Team Lead</td>
                                                    <td>mayorkelly@gmail.com</td>
                                                    <td>
                                                        <div class="d-inline-flex align-items-center">
                                                            <i class="ri-map-pin-fill text-muted fs-10"></i>
                                                            <span class="ms-1">Germany</span>
                                                        </div>
                                                    </td>
                                                    <td>Sep 15 - Oct 12, 2023</td>
                                                </tr>
                                                <tr>
                                                    <td>Manufacture</td>
                                                    <td>Team Lead</td>
                                                    <td>mayorkelly@gmail.com</td>
                                                    <td>
                                                        <div class="d-inline-flex align-items-center">
                                                            <i class="ri-map-pin-fill text-muted fs-10"></i>
                                                            <span class="ms-1">Germany</span>
                                                        </div>
                                                    </td>
                                                    <td>Sep 15 - Oct 12, 2023</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="d-flex align-items-center">
                                        <div>
                                            Showing 6 Entries <i class="bi bi-arrow-right ms-2 fw-semibold"></i>
                                        </div>
                                        <div class="ms-auto">
                                            <nav aria-label="Page navigation" class="pagination-style-4">
                                                <ul class="pagination mb-0">
                                                    <li class="page-item disabled">
                                                        <a class="page-link" href="javascript:void(0);">
                                                            Prev
                                                        </a>
                                                    </li>
                                                    <li class="page-item active"><a class="page-link" href="javascript:void(0);">1</a></li>
                                                    <li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>
                                                    <li class="page-item">
                                                        <a class="page-link text-primary" href="javascript:void(0);">
                                                            next
                                                        </a>
                                                    </li>
                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- two graphs  -->
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="card shadow ">
                                <div class="card-body">
                                    <div class="flex-fill">
                                        <div class="form-group">
                                            <select class="form-control select2" style="width: 100%;">
                                                <option selected="selected">choose chart</option>
                                                <option>Alaska</option>
                                                <option>California</option>
                                                <option>Delaware</option>
                                                <option>Tennessee</option>
                                                <option>Texas</option>
                                                <option>Washington</option>
                                            </select>
                                        </div>
                                        <figure class="highcharts-figure mb-0">
                                            <div id="pieChart"></div>
                                        </figure>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <div class="card shadow">
                                <div class="card-body">
                                    <figure class="highcharts-figure mb-0">
                                        <div id="barChart"></div>
                                        <p class="highcharts-description"></p>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


        </div>
    </div>


    {% include "includes/scripts.html" %}
</body>
</html>