{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    {% include "includes/head.html" %}

    <style>
        .limited-width {
            max-width: 500px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            word-wrap: break-word;

        }
    </style>
</head>

<body class="hold-transition sidebar-mini layout-fixed">

    <div class="wrapper">
        {%include 'includes/loader.html'%}
        {% include 'includes/topNavbar.html' %}
        {% include 'includes/sideNavbar.html' %}
        <div class="content-wrapper">
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="card shadow hidden-transition">
                                <div class="card-body">
                                    <figure class="highcharts-figure">
                                        <div id="splineChart"></div>
                                        <p class="highcharts-description">
                                        </p>
                                    </figure>
                                </div>
                            </div>
                        </div>

                        <!-- dynamic count cards -->
                        <div class="col-lg-4" style="margin: auto;">
                            <div class="card hidden-transition">
                                <div class="card-body">
                                    <div class="d-flex align-items-top ">
                                        <div class="flex-fill">
                                            <h5 class="d-block fw-semibold  mb-1">Total - Survey</h5>
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="d-block ">
                                                    <div class="fw-semibold counter"
                                                        style="font-size: x-large; text-align: center;">
                                                        {{surveys_count}} </div>
                                                    <a href="#" class="nav-link text-primary">
                                                        View All
                                                        <i class="bi bi-arrow-right-circle"></i>
                                                    </a>
                                                </div>
                                                <a class="btn btn-app"
                                                    style="background-color: #0eadfc; border-radius: 10px;">
                                                    <i class=" bi bi-file-earmark-text bi-main"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="card hidden-transition">
                                <div class="card-body">
                                    <div class="d-flex align-items-top ">
                                        <div class="flex-fill">
                                            <h5 class="d-block fw-semibold  mb-1"> Questions </h5>
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="d-block ">
                                                    <div class=" counter"
                                                        style="font-size: x-large; text-align: center;"> {{questions}}
                                                    </div>
                                                    <a href="" class="nav-link" style="color: #5e60ce;">
                                                        View All
                                                        <i class="bi bi-arrow-right-circle"></i>
                                                    </a>
                                                </div>
                                                <a class="btn btn-app"
                                                    style="background-color: #5e60ce; border-radius: 10px;">
                                                    <i class="bi bi-journals bi-main"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="card hidden-transition">
                                <div class="card-body">
                                    <div class="d-flex align-items-top ">
                                        <div class="flex-fill">
                                            <h5 class="d-block fw-semibold  mb-1"> Responses </h5>
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="d-block ">
                                                    <div class=" counter"
                                                        style="font-size: x-large; text-align: center;"> {{Response}}
                                                    </div>
                                                    <a href="" class="nav-link " style="color: #7ae582;">
                                                        View All
                                                        <i class="bi bi-arrow-right-circle"></i>
                                                    </a>
                                                </div>
                                                <a class="btn btn-app"
                                                    style="background-color: #7ae582; border-radius: 10px;">
                                                    <i class="bi bi-card-checklist bi-main"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- search and filter bar -->
            <div class="container-fluid hidden-transition">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active shadow" aria-current="page" href="#"
                            style="background-color: transparent;">Survey Analysis</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'survey_managment:compareData' %}">Compare Data</a>
                    </li>
                </ul>
                <br>


                <div class="container-fluid" style="background-color: #e3f2fd;">
                    <div class="container-fluid" id="searchArea">
                        <h2 class="textS">Search Area</h2>
                        <div class="row ">



                            {%include "includes/select.html"%}

                        </div>
                    </div>
                </div>

                <br>
            </div>

            <!-- table -->
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card hidden-transition">

                                <div class="card-header" style="justify-content: space-between;">
                                    <div class="card-title">
                                        <div id="selected-survey"></div>
                                    </div>
                                    <div class="d-flex" style="float: right;">
                                        <div class="me-3">
                                            <input class="form-control form-control-sm" type="text"
                                                placeholder="Search Here" aria-label=".form-control-sm example">
                                        </div>

                                        <div class="dropdown">
                                            <a href="" class="btn btn-primary btn-sm btn-wave waves-effect waves-light"
                                                data-bs-toggle="dropdown" aria-expanded="false">
                                                Sort By<i
                                                    class="ri-arrow-down-s-line align-middle ms-1 d-inline-block"></i>
                                            </a>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a class="dropdown-item" href="">New</a></li>
                                                <li><a class="dropdown-item" href="">Popular</a></li>
                                                <li><a class="dropdown-item" href="">Relevant</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <button id="exportButton_1" class="btn btn-success">Export to Excel</button>
                                </div>


                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table text-nowrap table-hover border table-bordered"
                                            id="surveyTable">
                                            <thead>
                                                <th>Survey Name </th>
                                                <th>Suvey instruction </th>
                                                <th> created_at </th>
                                                <th>start date </th>
                                                <th>end date </th>



                                            </thead>
                                            <tbody id="tbody">
                                                {% for survey in surveys %}
                                                <tr>
                                                    <td>{{ survey.name }}</td>
                                                    <td>{{ survey.instruction }}</td>
                                                    <td>{{ survey.created_at }}</td>
                                                    <td>{{ survey.start_at }}</td>
                                                    <td>{{ survey.end_at }}</td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="d-flex align-items-center">
                                        <div>
                                            Showing 6 Entries <i class="bi bi-arrow-right ms-2 fw-semibold"></i>
                                        </div>
                                        <div class="ms-auto">
                                            <nav aria-label="Page navigation" class="pagination-style-4">
                                                <ul class="pagination mb-0">
                                                    <li class="page-item disabled">
                                                        <a class="page-link" href="javascript:void(0);">
                                                            Prev
                                                        </a>
                                                    </li>
                                                    <li class="page-item active"><a class="page-link"
                                                            href="javascript:void(0);">1</a></li>
                                                    <li class="page-item"><a class="page-link"
                                                            href="javascript:void(0);">2</a></li>
                                                    <li class="page-item">
                                                        <a class="page-link text-primary" href="javascript:void(0);">
                                                            next
                                                        </a>
                                                    </li>
                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- table -->
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card hidden-transition">

                                <div class="card-header" style="justify-content: space-between;">
                                    <div class="card-title">
                                        <div id="selected-survey"></div>
                                    </div>
                                    <div class="d-flex" style="float: right;">
                                        <div class="me-3">
                                            <input class="form-control form-control-sm" type="text"
                                                placeholder="Search Here" aria-label=".form-control-sm example">
                                        </div>
                                        <div class="dropdown">
                                            <a href="" class="btn btn-primary btn-sm btn-wave waves-effect waves-light"
                                                data-bs-toggle="dropdown" aria-expanded="false">
                                                Sort By<i
                                                    class="ri-arrow-down-s-line align-middle ms-1 d-inline-block"></i>
                                            </a>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a class="dropdown-item" href="">New</a></li>
                                                <li><a class="dropdown-item" href="">Popular</a></li>
                                                <li><a class="dropdown-item" href="">Relevant</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <button id="exportButton_2" class="btn btn-success">Export to Excel</button>

                                </div>


                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table text-nowrap table-hover border table-bordered"
                                            id="general_Survey_Info">
                                            <thead>
                                                <th> Survey Name </th>
                                                <th> Weighted Result </th>
                                                <th> Grading </th>



                                            </thead>
                                            <tbody id="tbody">

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="d-flex align-items-center">
                                        <div>
                                            Showing 6 Entries <i class="bi bi-arrow-right ms-2 fw-semibold"></i>
                                        </div>
                                        <div class="ms-auto">
                                            <nav aria-label="Page navigation" class="pagination-style-4">
                                                <ul class="pagination mb-0">
                                                    <li class="page-item disabled">
                                                        <a class="page-link" href="javascript:void(0);">
                                                            Prev
                                                        </a>
                                                    </li>
                                                    <li class="page-item active"><a class="page-link"
                                                            href="javascript:void(0);">1</a></li>
                                                    <li class="page-item"><a class="page-link"
                                                            href="javascript:void(0);">2</a></li>
                                                    <li class="page-item">
                                                        <a class="page-link text-primary" href="javascript:void(0);">
                                                            next
                                                        </a>
                                                    </li>
                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


            <!-- table -->
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card hidden-transition">

                                <div class="card-header" style="justify-content: space-between;">
                                    <div class="card-title">
                                        <div id="selected-survey"></div>
                                    </div>
                                    <div class="d-flex" style="float: right;">
                                        <div class="me-3">
                                            <input class="form-control form-control-sm" type="text"
                                                placeholder="Search Here" aria-label=".form-control-sm example">
                                        </div>
                                        <div class="dropdown">

                                            <a href="" class="btn btn-primary btn-sm btn-wave waves-effect waves-light"
                                                data-bs-toggle="dropdown" aria-expanded="false">
                                                Sort By<i
                                                    class="ri-arrow-down-s-line align-middle ms-1 d-inline-block"></i>
                                            </a>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a class="dropdown-item" href="">New</a></li>
                                                <li><a class="dropdown-item" href="">Popular</a></li>
                                                <li><a class="dropdown-item" href="">Relevant</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <button id="exportButton" class="btn btn-success">Export to Excel</button>

                                </div>



                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table text-nowrap table-hover border table-bordered"
                                            id="survey_detail">
                                            <thead>
                                                <th> ጥያቄ</th>
                                                <th> ደረጃ </th>
                                                <th> ክብደት </th>

                                                <th>የተመዘነ ደረጃ</th>
                                                <th> በ100% ኛ </th>
                                                <th> Grading </th>





                                            </thead>
                                            <tbody id="tbody">

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="d-flex align-items-center">
                                        <div>
                                            Showing 6 Entries <i class="bi bi-arrow-right ms-2 fw-semibold"></i>
                                        </div>
                                        <div class="ms-auto">
                                            <nav aria-label="Page navigation" class="pagination-style-4">
                                                <ul class="pagination mb-0">
                                                    <li class="page-item disabled">
                                                        <a class="page-link" href="javascript:void(0);">
                                                            Prev
                                                        </a>
                                                    </li>
                                                    <li class="page-item active"><a class="page-link"
                                                            href="javascript:void(0);">1</a></li>
                                                    <li class="page-item"><a class="page-link"
                                                            href="javascript:void(0);">2</a></li>
                                                    <li class="page-item">
                                                        <a class="page-link text-primary" href="javascript:void(0);">
                                                            next
                                                        </a>
                                                    </li>
                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- two graphs  -->
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="card shadow hidden-transition">
                                <div class="card-body">
                                    <div class="flex-fill">
                                        <div class="form-group">
                                            <select class="form-control " style="width: 100%;">
                                                <option selected="selected">choose chart</option>
                                                <option>Alaska</option>
                                                <option>California</option>
                                                <option>Delaware</option>
                                                <option>Tennessee</option>
                                                <option>Texas</option>
                                                <option>Washington</option>
                                            </select>
                                        </div>
                                        <figure class="highcharts-figure mb-0">
                                            <div id="pieChart"></div>
                                        </figure>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <div class="card shadow hidden-transition">
                                <div class="card-body">
                                    <figure class="highcharts-figure mb-0">
                                        <div id="barChart"></div>
                                        <p class="highcharts-description"></p>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


        </div>
    </div>



    {% include "includes/scripts.html" %}
    <script>
        fetch('http://127.0.0.1:8000/get_json/')
            .then(res => res.json())
            .then(data => {
                var surveyTypeInput = document.getElementById('survey_type');
                var surveyTableBody_1 = document.getElementById('surveyTable').getElementsByTagName('tbody')[0];
                var surveyTableBody_2 = document.getElementById('survey_detail').getElementsByTagName('tbody')[0];
                var surveyTableBody_3 = document.getElementById('general_Survey_Info').getElementsByTagName('tbody')[0];

                var select_ministry = document.getElementById("ministry-select");
                var selectElement = document.getElementById("survey-select");



                // Populate the survey type options
                data.survey_type.forEach(surveyType => {
                    var option = document.createElement('option');
                    option.value = surveyType.id;
                    option.textContent = surveyType.name;
                    surveyTypeInput.appendChild(option);


                });


                surveyTypeInput.addEventListener('change', function () {
                    var selectedSurveyTypeId = parseInt(surveyTypeInput.value);
                    console.log('Selected survey:', selectedSurveyTypeId);

                    clearTable(surveyTableBody_1);
                    clearTable(surveyTableBody_2);
                    clearOptions(select_ministry);
                    clearOptions(selectElement);


                    if (selectedSurveyTypeId && myCheckbox.checked) {
                        var surveys = data.survey.filter(survey => survey.survey_type_id === selectedSurveyTypeId);

                        surveys.forEach(survey => {
                            var row = surveyTableBody_1.insertRow();
                            row.insertCell().textContent = survey.name;
                            row.insertCell().textContent = survey.instruction;
                            row.insertCell().textContent = survey.created_at;
                            row.insertCell().textContent = survey.start_at;
                            row.insertCell().textContent = survey.end_at;


                            var option = document.createElement("option");
                            option.value = survey.id;
                            option.textContent = survey.name;
                            selectElement.appendChild(option);

                            selectElement.addEventListener('change', function () {
                                var selectedSurvey = selectElement.value;
                                console.log('Selected survey:', selectedSurvey);

                                var selectedSurveyId = parseInt(selectElement.value);
                                for (var i = 0; i < data.surveys.length; i++) {
                                    if (data.surveys[i].id === selectedSurveyId) {
                                        selectedSurvey = data.surveys[i];
                                        break;
                                    }
                                }
                                
                                if (selectedSurvey) {
                                    var lineMinistries = selectedSurvey.line_ministries;
                                    while (select_ministry.firstChild) {
                                        select_ministry.removeChild(select_ministry.firstChild)
                                    }

                                    lineMinistries.forEach(function (lineMinistry) {
                                        var ministry_option = document.createElement("option");
                                        ministry_option.value = lineMinistry.id;
                                        ministry_option.textContent = lineMinistry.name;
                                        select_ministry.append(ministry_option)

                                    });



                                    console.log('Line ministries:', lineMinistries);
                                }
                                
                                else {
                                    console.log('Selected survey not found');
                                }
                            });


                            select_ministry.addEventListener("change", function () {
                                if (select_ministry) {
                                    clearTable(surveyTableBody_2)
                                }
                                var selectedLineMinistry = parseInt(select_ministry.value);

                                user = null;
                                weightedSum = 0;
                                data.users.forEach(function (users) {
                                    if (users.Line_ministry_id === selectedLineMinistry) {
                                        user = users.id;
                                        return;
                                    }
                                });
                                userResponseId = null
                                data.user_response.forEach(function (userResponse) {
                                    if (userResponse.submitted_by_id === user) {
                                        userResponseId = userResponse.id;
                                        return;  // Exit the loop once a match is found
                                    }
                                });
                                // console.log("yry " + userResponseId )

                                if (userResponseId !== null) {
                                    var answers = data.answer.filter(function (answer) {
                                        return answer.response_id === userResponseId;
                                    });

                                    console.log(answers);
                                    var answerValues = answers.map(function (answer) {
                                        return {
                                            value: parseFloat(answer.answertext),
                                            questionId: answer.forquestion_id
                                        };
                                    });

                                    var weightedSum = 0;
                                    var totalWeight = 0;
                                    var total_weightedinPercent = 0;
                                    var count = 0;
                                    var total_answer = 0;
                                    answerValues.forEach(function (answer) {
                                        var question = data.questions.find(function (q) {
                                            return q.id === answer.questionId;
                                        });


                                        if (question) {
                                            var weight = question.weight;
                                            console.log("the question :" + question.title + "the weight:" + weight)


                                            var total_weight = 0
                                            if (!isNaN(answer.value)) {
                                                weightedSum += answer.value * weight;
                                                totalWeight += weight;
                                                total_answer += answer.value;


                                            }

                                            var weighted__Sum = 0;

                                            if (totalWeight > 0) {
                                                var weightedAverage = weightedSum / totalWeight;
                                                var row = surveyTableBody_2.insertRow();
                                                var question_cell = row.insertCell();
                                                question_cell.textContent = question.title;
                                                row.insertCell().textContent = answer.value;
                                                question_cell.classList.add('limited-width');
                                                row.insertCell().textContent = weight;
                                                console.log(totalWeight)
                                                row.insertCell().textContent = answer.value * weight;
                                                var totalresult = answer.value * weight
                                                var max_value = 10;

                                                var weightedinPercent = ((totalresult) / (max_value * weight)) * 100;
                                                count++;
                                                total_weightedinPercent += weightedinPercent;
                                                // console.log("hello" + total_weightedinPercent + " "+ count);

                                                row.insertCell().textContent = weightedinPercent + "%";
                                                var x = weightedinPercent;
                                                var newCell = row.insertCell();
                                                newCell.id = 'Indicator';
                                                if (x >= 90) {
                                                    newCell.textContent = " Very Good";
                                                    newCell.style.backgroundColor = "#52B788";
                                                } else if (x >= 80) {
                                                    newCell.textContent = "Good";
                                                    newCell.style.backgroundColor = "#C2FA41";
                                                } else if (x >= 60) {
                                                    newCell.textContent = "Satisfactory";
                                                    newCell.style.backgroundColor = "#C1FA61";

                                                } else if (x >= 50) {
                                                    newCell.textContent = "Poor";
                                                    newCell.style.backgroundColor = "#FAEB41";


                                                } else if (x >= 40) {
                                                    newCell.textContent = "Very Poor";
                                                    newCell.style.backgroundColor = " #FA7D41";


                                                } else {
                                                    newCell.textContent = "Extremely Poor";
                                                    newCell.style.backgroundColor = "#FA7D41";


                                                }

                                                console.log("Weighted average of answers: " + weightedAverage.toFixed(2));
                                            } else {
                                                console.log("No valid answers found for the selected line ministry.");
                                            }

                                        }
                                    });

                                }


                                else {
                                    console.log("No user_response ID found for the selected line ministry.");
                                }
                                var totalRow = surveyTableBody_2.insertRow();
                                var labelCell = totalRow.insertCell();
                                labelCell.textContent = 'Total';

                                var valueCell = totalRow.insertCell();
                                valueCell.textContent = total_answer;

                                var weightCell = totalRow.insertCell();
                                weightCell.textContent = totalWeight;

                                var weightCell = totalRow.insertCell();
                                weightCell.textContent = weightedSum;

                                var averageCell = totalRow.insertCell();
                                var average = total_weightedinPercent / count;
                                averageCell.textContent = average + "%";
                                surveyTableBody_2.appendChild(totalRow);

                                var row2 = surveyTableBody_3.insertRow();
                                row2.insertCell().textContent = survey.name;
                                row2.insertCell().textContent = weightedSum;
                                row2.insertCell().textContent = average + "%";


                                console.log("Selected line ministry: " + selectedLineMinistry);
                            });
                            var selectedSurvey = (selectElement.value);
                        });



                    }
                    else if(selectedSurveyTypeId && !myCheckbox.checked){
                        var surveys = data.survey.filter(survey => survey.survey_type_id === selectedSurveyTypeId);     
                        console.log(surveys)
                                for (var i = 0; i < surveys.length; i++) {
                                    if (surveys[i].id === data.line_ministry) {
                                        select_ministry = data.surveys[i];
                                        break;
                                    }
                                }

                        console.log(select_ministry)



                        
                    }
                });
            })
            .catch(error => {
                console.error('Error fetching data:', error);
            });

        function clearTable(tableBody) {
            while (tableBody.firstChild) {
                tableBody.removeChild(tableBody.firstChild);
            }
        }
        function clearOptions(select) {
            while (select.firstChild) {
                select.removeChild(select.firstChild);
            }
        }
        function exportTableToExcel(tableId, filename = '') {
            var downloadLink;
            var dataType = 'application/vnd.ms-excel';
            var tableSelect = document.getElementById(tableId);
            var tableHTML = tableSelect.outerHTML.replace(/ /g, '%20');

            filename = filename ? filename + '.xlsb' : 'excel_data.xlsb';

            downloadLink = document.createElement("a");

            document.body.appendChild(downloadLink);

            if (navigator.msSaveOrOpenBlob) {
                var blob = new Blob(['\ufeff', tableHTML], {
                    type: dataType
                });
                navigator.msSaveOrOpenBlob(blob, filename);
            } else {
                downloadLink.href = 'data:' + dataType + ', ' + tableHTML;
                downloadLink.download = filename;
                downloadLink.click();
            }
        }

        document.getElementById('exportButton').onclick = function () {
            exportTableToExcel('survey_detail', 'exported_table');
        }
        document.getElementById('exportButton_1').onclick = function () {
            exportTableToExcel('surveyTable', 'exported_table');
        }

        document.getElementById('exportButton_2').onclick = function () {
            exportTableToExcel('general_Survey_Info', 'exported_table');
        }
        Highcharts.chart('pieChart', {
            chart: {
                type: 'variablepie'
            },
            title: {
                text: 'Countries compared by population density and total area, 2022.',
                align: 'left'
            },
            tooltip: {
                headerFormat: '',
                pointFormat: '<span style="color:{point.color}">\u25CF</span> <b> {point.name}</b><br/>' +
                    'Area (square km): <b>{point.y}</b><br/>' +
                    'Population density (people per square km): <b>{point.z}</b><br/>'
            },
            series: [{
                minPointSize: 10,
                innerSize: '20%',
                zMin: 0,
                name: 'countries',
                borderRadius: 5,
                data: [{
                    name: 'Spain',
                    y: 505992,
                    z: 92
                }, {
                    name: 'France',
                    y: 551695,
                    z: 119
                }, {
                    name: 'Poland',
                    y: 312679,
                    z: 121
                }, {
                    name: 'Czech Republic',
                    y: 78865,
                    z: 136
                }, {
                    name: 'Italy',
                    y: 301336,
                    z: 200
                }, {
                    name: 'Switzerland',
                    y: 41284,
                    z: 213
                }, {
                    name: 'Germany',
                    y: 357114,
                    z: 235
                }],
                colors: [
                    '#4caefe',
                    '#3dc3e8',
                    '#2dd9db',
                    '#1feeaf',
                    '#0ff3a0',
                    '#00e887',
                    '#23e274'
                ]
            }]
        });
var myCheckbox = document.getElementById('flexCheckChecked');
var mySelect = document.getElementById('survey-select');
    
    myCheckbox.addEventListener('change', function() {
      if (!myCheckbox.checked) {
        mySelect.disabled = true;
        if (selectedSurveyTypeId) {

                        var surveys = data.survey.filter(survey => survey.survey_type_id === selectedSurveyTypeId);

                        surveys.forEach(function (lineMinistry) {
                                        var ministry_option = document.createElement("option");
                                        ministry_option.value = lineMinistry.id;
                                        ministry_option.textContent = surveys.for_line_ministry;
                                        select_ministry.append(ministry_option)

                           
                               
                                        

                                    });



                                    console.log('Line ministries:', lineMinistries);
                                } 


                        


                   
        console.log("Selected line ministry: " + selectedLineMinistry);} else {
    mySelect.disabled = false;

}


});
    

    </script>

</body>

</html>