{% load static%}
<!DOCTYPE html>
<html lang="en">
  {% include "includes/head.html" %}

   
</head>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">

        {% include 'includes/topNavbar.html' %}
          {% include 'includes/sideNavbar.html' %}
    
    <div class="content-wrapper">
    
    <section class="content-header">
    <div class="container-fluid">
    <div class="row mb-2">
    <div class="col-sm-6">
    <h1> My Profile</h1>
    </div>
    <div class="col-sm-6">
    <ol class="breadcrumb float-sm-right">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item active">User Profile</li>
    </ol>
    </div>
    </div>
    </div>
    </section>
    
    <section class="content">
    <div class="container-fluid">
    <div class="row">
        
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                      <div class="d-flex flex-column align-items-center text-center">
                        <img src= "{{custom_user.image.url}}" alt="Admin" class="rounded-circle" width="150">                          
                        <p class="text-secondary mb-1">{{custom_user.Role}}</p>

                        <div class="mt-3">
                          <a href="{% url 'Account:edit_profile' %}"  style="text-decoration:none;"> Edit Profile</a>
                          <!-- <button class="btn btn-outline-primary">Message</button> -->
                        </div>
                      </div>
                    </div>
                  </div>    
            </div>
            <div class="col-md-9 ">
                <div class="card-body row">
                        <div class="col-sm-6"> 

                    <div class="row">
                      <div class="col-sm-3">
                        <h6 class="mb-0">Full Name</h6>
                      </div>
                      <div class="col-sm-9 text-secondary">
                        {{custom_user.first_name}} {{custom_user.last_name}}
                      </div>
                    </div>
                    <hr>
                   
                   
                    <div class="row">
                      <div class="col-sm-3">
                        <h6 class="mb-0">Email</h6>
                      </div>
                      <div class="col-sm-9 text-secondary">
                        {{custom_user.email}}                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <h6 class="mb-0">Birth Date</h6>
                      </div>
                      <div class="col-sm-9 text-secondary">
                        {{custom_user.date_of_birth}}                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <h6 class="mb-0">Phone</h6>
                      </div>
                      <div class="col-sm-9 text-secondary">
                        {{custom_user.phone_number}}
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Username</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
{{custom_user.username}}                        </div>
                      </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Line Minstry</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          {{custom_user.Line_ministry}}
                        </div>
                      </div>
                    
                    <!-- <div class="row">
                      <div class="col-sm-12">
                        <a class="btn btn-info " target="__blank" href="https://www.bootdey.com/snippets/view/profile-edit-data-and-skills">Edit</a>
                      </div>
                    </div> -->
                    
                </div>
                <div class="col-sm-6"> 

                     
                    <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Username</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          fip@jukmuh.al
                        </div>
                      </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <h6 class="mb-0">Line Minstry</h6>
                      </div>
                      <div class="col-sm-9 text-secondary">
                        {{custom_user.Line_ministry}}
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <h6 class="mb-0">Role</h6>
                      </div>
                      <div class="col-sm-9 text-secondary">
                        (239) 816-9029
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <h6 class="mb-0">Department</h6>
                      </div>
                      <div class="col-sm-9 text-secondary">
                        {{custom_user.Department}}
                      </div>
                    </div>
                    <hr>
                  
                    
                    
                </div>
                </div>
                  </div>
               
               
                
                </div>      
                    
                  
    
        </div>
    </div>
    
     
        
    
    
    </div>
    
    </div>
    </section>
    
    </div>
    
    <footer class="main-footer">
    <div class="float-right d-none d-sm-block">
    <b>Version</b> 3.2.0
    </div>
    <strong>Copyright &copy; 2014-2021 <a href="https://adminlte.io/">AdminLTE.io</a>.</strong> All rights reserved.
    </footer>
    
    <aside class="control-sidebar control-sidebar-dark">
    
    </aside>
    
    </div>
    
    
    {% include "includes/scripts.html" %}
    
    </body>
</html>
