{% load static %}
<!DOCTYPE html>
<html lang="en">

{% include 'includes/head.html' %}

<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        {% include 'includes/topNavbar.html' %}
        {% include 'includes/sideNavbar.html' %}


        <div class="content-wrapper">

            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-12 d-flex">
                            <h1>Recent Forms</h1>

                            <div class="col-md-6" style="margin: auto;">
                                <div class="form-group">
                                    <select class="select2" multiple="multiple" data-placeholder="Select ..."
                                        style="width: 100%;">
                                        <option>Alabama</option>
                                        <option>Alaska</option>
                                        <option>California</option>
                                        <option>Delaware</option>
                                        <option>Tennessee</option>
                                        <option>Texas</option>
                                        <option>Washington</option>
                                    </select>
                                </div>
                            </div>



                                <a href="{% url 'survey_managment:createForm' %}" class="btn bg-secondary"
                                    style="margin-left: auto;">
                                    <i class="fas bi bi-file-earmark-plus"></i> NEW
                                </a>
                            </div>
                        </div>

                    </div>

            </section>


            <section class="container-fluid ">
                <div class="row">

                    <div class="col-md-3 col-sm-6 col-12">
                        <a href="{% url 'survey_managment:questionnaireDetail' %}"
                            style="color: black; text-decoration: none;">
                            <div class="info-box shadow">
                                <span class="info-box-icon bg-warning"><i class="far fa-copy"></i></span>
                                <div class="info-box-content">
                                    <span class="info-box-text">Form Name</span>
                                    <span class="info-box-number">created_at</span>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-3 col-sm-6 col-12">
                        <a href="{% url 'survey_managment:questionnaireDetail' %}"
                            style="color: black; text-decoration: none;">
                            <div class="info-box shadow">
                                <span class="info-box-icon bg-warning"><i class="far fa-copy"></i></span>
                                <div class="info-box-content">
                                    <span class="info-box-text">Form Name</span>
                                    <span class="info-box-number">created_at</span>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-3 col-sm-6 col-12">
                        <a href="{% url 'survey_managment:questionnaireDetail' %}"
                            style="color: black; text-decoration: none;">
                            <div class="info-box shadow">
                                <span class="info-box-icon bg-warning"><i class="far fa-copy"></i></span>
                                <div class="info-box-content">
                                    <span class="info-box-text">Form Name</span>
                                    <span class="info-box-number">created_at</span>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-3 col-sm-6 col-12">
                        <a href="{% url 'survey_managment:questionnaireDetail' %}"
                            style="color: black; text-decoration: none;">
                            <div class="info-box shadow">
                                <span class="info-box-icon bg-warning"><i class="far fa-copy"></i></span>
                                <div class="info-box-content">
                                    <span class="info-box-text">Form Name</span>
                                    <span class="info-box-number">created_at</span>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-3 col-sm-6 col-12">
                        <a href="{% url 'survey_managment:questionnaireDetail' %}"
                            style="color: black; text-decoration: none;">
                            <div class="info-box shadow">
                                <span class="info-box-icon bg-warning"><i class="far fa-copy"></i></span>
                                <div class="info-box-content">
                                    <span class="info-box-text">Form Name</span>
                                    <span class="info-box-number">created_at</span>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-3 col-sm-6 col-12">
                        <a href="{% url 'survey_managment:questionnaireDetail' %}"
                            style="color: black; text-decoration: none;">
                            <div class="info-box shadow">
                                <span class="info-box-icon bg-warning"><i class="far fa-copy"></i></span>
                                <div class="info-box-content">
                                    <span class="info-box-text">Form Name</span>
                                    <span class="info-box-number">created_at</span>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-3 col-sm-6 col-12">
                        <a href="{% url 'survey_managment:questionnaireDetail' %}"
                            style="color: black; text-decoration: none;">
                            <div class="info-box shadow">
                                <span class="info-box-icon bg-warning"><i class="far fa-copy"></i></span>
                                <div class="info-box-content">
                                    <span class="info-box-text">Form Name</span>
                                    <span class="info-box-number">created_at</span>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-3 col-sm-6 col-12">
                        <a href="{% url 'survey_managment:questionnaireDetail' %}"
                            style="color: black; text-decoration: none;">
                            <div class="info-box shadow">
                                <span class="info-box-icon bg-warning"><i class="far fa-copy"></i></span>
                                <div class="info-box-content">
                                    <span class="info-box-text">Form Name</span>
                                    <span class="info-box-number">created_at</span>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-3 col-sm-6 col-12">
                        <a href="{% url 'survey_managment:questionnaireDetail' %}"
                            style="color: black; text-decoration: none;">
                            <div class="info-box shadow">
                                <span class="info-box-icon bg-warning"><i class="far fa-copy"></i></span>
                                <div class="info-box-content">
                                    <span class="info-box-text">Form Name</span>
                                    <span class="info-box-number">created_at</span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3 col-sm-6 col-12">
                        <a href="{% url 'survey_managment:questionnaireDetail' %}"
                            style="color: black; text-decoration: none;">
                            <div class="info-box shadow">
                                <span class="info-box-icon bg-warning"><i class="far fa-copy"></i></span>
                                <div class="info-box-content">
                                    <span class="info-box-text">Form Name</span>
                                    <span class="info-box-number">created_at</span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3 col-sm-6 col-12">
                        <a href="{% url 'survey_managment:questionnaireDetail' %}"
                            style="color: black; text-decoration: none;">
                            <div class="info-box shadow">
                                <span class="info-box-icon bg-warning"><i class="far fa-copy"></i></span>
                                <div class="info-box-content">
                                    <span class="info-box-text">Form Name</span>
                                    <span class="info-box-number">created_at</span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3 col-sm-6 col-12">
                        <a href="{% url 'survey_managment:questionnaireDetail' %}"
                            style="color: black; text-decoration: none;">
                            <div class="info-box shadow">
                                <span class="info-box-icon bg-warning"><i class="far fa-copy"></i></span>
                                <div class="info-box-content">
                                    <span class="info-box-text">Form Name</span>
                                    <span class="info-box-number">created_at</span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3 col-sm-6 col-12">
                        <a href="{% url 'survey_managment:questionnaireDetail' %}"
                            style="color: black; text-decoration: none;">
                            <div class="info-box shadow">
                                <span class="info-box-icon bg-warning"><i class="far fa-copy"></i></span>
                                <div class="info-box-content">
                                    <span class="info-box-text">Form Name</span>
                                    <span class="info-box-number">created_at</span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3 col-sm-6 col-12">
                        <a href="{% url 'survey_managment:questionnaireDetail' %}"
                            style="color: black; text-decoration: none;">
                            <div class="info-box shadow">
                                <span class="info-box-icon bg-warning"><i class="far fa-copy"></i></span>
                                <div class="info-box-content">
                                    <span class="info-box-text">Form Name</span>
                                    <span class="info-box-number">created_at</span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3 col-sm-6 col-12">
                        <a href="{% url 'survey_managment:questionnaireDetail' %}"
                            style="color: black; text-decoration: none;">
                            <div class="info-box shadow">
                                <span class="info-box-icon bg-warning"><i class="far fa-copy"></i></span>
                                <div class="info-box-content">
                                    <span class="info-box-text">Form Name</span>
                                    <span class="info-box-number">created_at</span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3 col-sm-6 col-12">
                        <a href="{% url 'survey_managment:questionnaireDetail' %}"
                            style="color: black; text-decoration: none;">
                            <div class="info-box shadow">
                                <span class="info-box-icon bg-warning"><i class="far fa-copy"></i></span>
                                <div class="info-box-content">
                                    <span class="info-box-text">Form Name</span>
                                    <span class="info-box-number">created_at</span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3 col-sm-6 col-12">
                        <a href="{% url 'survey_managment:questionnaireDetail' %}"
                            style="color: black; text-decoration: none;">
                            <div class="info-box shadow">
                                <span class="info-box-icon bg-warning"><i class="far fa-copy"></i></span>
                                <div class="info-box-content">
                                    <span class="info-box-text">Form Name</span>
                                    <span class="info-box-number">created_at</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </section>
        </div>

        <footer class="main-footer">
            <div class="float-right d-none d-sm-block">
                <b>Version</b> 3.2.0
            </div>
            reserved.
        </footer>


    </div>


    {% include 'includes/scripts.html' %}
</body>

</html>