{% load static %}

<!DOCTYPE html>
<html lang="en">
  {% include "includes/head.html" %}
  <link
    rel="stylesheet"
    href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css"
  />
  <style></style>

  <body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
      {% include 'includes/topNavbar.html' %} {% include  'includes/sideNavbar.html' %}

      <div class="content-wrapper mt-4" style="background-color: white">
        <section class="content">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-3">
                <a href="mailbox.html" class="btn btn-primary btn-block mb-3"
                  >Back to Inbox</a
                >
               {% include "includes/folder.html" %}

              </div>

              <div class="col-md-9">
                <div class="card card-primary card-outline">
                  <div class="card-header">
                    <h3 class="card-title">Read Mail</h3>
                    <div class="card-tools">
                      <a href="#" class="btn btn-tool" title="Previous"
                        ><i class="fas fa-chevron-left"></i
                      ></a>
                      <a href="#" class="btn btn-tool" title="Next"
                        ><i class="fas fa-chevron-right"></i
                      ></a>
                    </div>
                  </div>

                  <div class="card-body p-0">
                    <div class="mailbox-read-info">
                      
                      <h5>
                        From:
                        <a
                          href="https://adminlte.io/cdn-cgi/l/email-protection"
                          class="__cf_email__"
                          data-cfemail="deadabaeaeb1acaa9ebfbab3b7b0b2aabbf0b7b1"
                          >{{message.email}}</a
                        >
                        <span class="mailbox-read-time float-right"
                          >{{message.sent_at}}</span
                        >
                      </h5>

                    <br>

                      <h6>Subject : {{message.subject}}</h6>
                    </div>

                   
                    <div class="mailbox-read-message">
                    Message : {{message.message}}
                    </div>
                  </div>

                  <div class="card-footer">
                    <div class="float-right">
                      <button type="button" class="btn btn-default">
                        <i class="fas fa-reply"></i> Reply
                      </button>
                      <button type="button" class="btn btn-default">
                        <i class="fas fa-share"></i> Forward
                      </button>
                    </div>
                    <button type="button" class="btn btn-default">
                      <i class="far fa-trash-alt"></i> Delete
                    </button>
                    <button type="button" class="btn btn-default">
                      <i class="fas fa-print"></i> Print
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>

    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>
    <script>
      $(function () {
        //Enable check and uncheck all functionality
        $(".checkbox-toggle").click(function () {
          var clicks = $(this).data("clicks");
          if (clicks) {
            //Uncheck all checkboxes
            $(".mailbox-messages input[type='checkbox']").prop(
              "checked",
              false
            );
            $(".checkbox-toggle .far.fa-check-square")
              .removeClass("fa-check-square")
              .addClass("fa-square");
          } else {
            //Check all checkboxes
            $(".mailbox-messages input[type='checkbox']").prop("checked", true);
            $(".checkbox-toggle .far.fa-square")
              .removeClass("fa-square")
              .addClass("fa-check-square");
          }
          $(this).data("clicks", !clicks);
        });

        //Handle starring for font awesome
        $(".mailbox-star").click(function (e) {
          e.preventDefault();
          //detect type
          var $this = $(this).find("a > i");
          var fa = $this.hasClass("fa");

          //Switch states
          if (fa) {
            $this.toggleClass("fa-star");
            $this.toggleClass("fa-star-o");
          }
        });
      });
    </script>
  </body>
</html>
