{% load static %}

<!DOCTYPE html>
<html lang="en">

{% include "includes/head.html" %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css" />
<style>
  .topLinks {
    display: flex;
    justify-content: center;
  }

  .topLinks li {
    margin: 10px;
    border-radius: 10px;
    border-bottom: 3px solid rgba(178, 223, 219, 1.0);
  }

  .topLinks li:hover {
    background-color: rgba(178, 223, 219, 1.0);
  }

  .topLinks li .nav-link.active {
    background-color: #46b583;
  }

  .card {
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
    /* Add any additional styles as needed */
  }

</style>

<body class="hold-transition sidebar-mini layout-fixed">
  <div class="wrapper">
    {% include 'includes/topNavbar.html' %} {% include 'includes/sideNavbar.html' %}

    <div class="content-wrapper" style="background-color: white;">


      <div class="container">
        <div class="row">

          <div class="col-lg-12">
            <div class="card ">
              <div class="card-header p-2">
                <ul class="nav nav-pills topLinks">
                  <li class="nav-item">
                    <!-- <a class="nav-link" href="{% url "survey_managment:survey_detail" id=survey_id %}"></a> -->
                    <a class="nav-link active" href="#QuestionList" data-toggle="tab">Question List</a>
                  </li>
                  <li class="nav-item">
                    <!-- <a class="nav-link" href="{% url "survey_managment:user_response_list" id=survey_id %}">User Response</a> -->
                    <a class="nav-link" href="#timeline" data-toggle="tab">User Response</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#Recommendation" data-toggle="tab">Recommendation</a>
                  </li>
                </ul>
              </div>


              <div class="card-body">
                <div class="tab-content">

                  <div class="active tab-pane" id="QuestionList">
                    <h4 class="text-center text-info mt-3">
                      Questions for survey {{ survey.name }}
                 </h4>
                 <ul class="list-group">
                  <div class="card mb-3 shadow">
                    <div class="card-header">
                      <div class="form-row mb-3">
                        <div class="col">
                          <input type="text" class="form-control" id="search-input" placeholder="Search question...">
                        </div>
                      </div>
                    </div>
                    <div class="card-body">
                      {% for question in questions %}
                        <li class="list-group-item mb-2 shadow">
                          {{ question.title }}
                        </li>
                      {% endfor %}
                    </div>
                  </div>
                </ul>
      
                {% if user_responses  %}
                   
                {% else %}  
                   <a class="btn btn-primary" href="{% url 'survey_managment:questionCreationByType' survey_id %}">Add Questions</a>
                {% endif %}
                  </div>

                  <div class="tab-pane" id="timeline">
                    <div class="container">
                      <h1 style="font-size: 2.5rem; font-weight: bold;">{{ survey.title }}</h1>
                      {% if user_responses %}
                        <table class="table">
                          <thead>
                            <tr>
                              <th>Response by</th>
                              <th>Submitted at</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for response in user_responses %}
                              <tr>
                                <td><a style="text-decoration: none; color: black;" href="{% url 'survey_managment:user_response' id=survey_id response_id=response.id %}">{{ response.submitted_by }}</a></td>
                                <td>{{ response.submitted_at }}</td>
                              </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                      {% else %}
                        <p style="font-size: 1.2rem;">No responses found.</p>
                      {% endif %}
                    </div>
                  </div>

                  <div class="tab-pane" id="Recommendation">
                    <table id="myTable" class="display">
                      <thead>
                        <tr>
                          <th>Column 1</th>
                          <th>Column 2</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Row 1 Data 1</td>
                          <td>Row 1 Data 2</td>
                        </tr>
                        <tr>
                          <td>Row 2 Data 1</td>
                          <td>Row 2 Data 2</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

                </div>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
  

  <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>
  <script>
      $(document).ready( function () {
      $('#myTable').DataTable();
  } );
  </script>

    <script>
      $(document).ready(function () {
        // Search functionality
        $('#search-input').on('keyup', function () {
          var value = $(this).val().toLowerCase();
          $('.question-row').filter(function () {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
          });
        });
    
        // Select all functionality
        $('#select-all-btn').on('click', function () {
          $('.question-checkbox').prop('checked', true);
        });
      });
    </script>
</body>
</html>